[2018-10-02 02:00] eickenberg opened #1 "Documentation"
We need

- narrative documentation using `sphinx-doc`
- an automatic example gallery using `sphinx-gallery`
- an updated README and INSTALL instructions

`sphinx` stuff to be set up by @eickenberg in the next days.
Narrative documentation to be written by everybody.

[2018-10-02 02:02] eickenberg opened #2 "[BUG] Scattering3D chemistry example currently yields too high MAE error"
This needs to be addressed or at least understood before release.

[2018-10-02 02:03] eickenberg opened #3 "Test coverage"
Tests are required for every single function in this codebase.

Rule: If you contributed the code, you are the person being looked to first for the tests. Please make sure your part is covered. Please ask for help.

- [ ] Fixing: https://github.com/eickenberg/scattering_transform/issues/2 (3d MAE)

[2018-10-02 14:19] janden opened #4 "mkl-random fails to install - requires cython"
Running `pip install -r requirements.txt`, I get the error

[code]

Adding `cython` to requirements.txt seems to fix this.

[2018-10-02 14:54] janden opened #5 "Missing requirements: scikit-cuda, cupy, and pyfftw"
Perhaps I'm missing something, but I had to install these manually (that is, they don't seem to be installed by `pip install -r requirements.txt`) in order to run `examples/1d/classif.py`.

[2018-10-02 18:34] eickenberg opened #6 "[REF] Get rid of `torchnet.engine` in 2d example"
@edouardoyallon can you remove this torchnet engine in the 2d example and replace it by as simple as possible pytorch code blocks?

[2018-10-03 16:54] janden opened #8 "3d_qm7 example crashes"
After running for a while, I get
[code]
Not sure why this is crashing for me but not for others. Doesn't `os` always have to be imported before use?

[2018-10-03 16:56] #4 closed, assigned to nobody

[2018-10-03 17:14] janden opened #10 "Problem installing torchnet"
When installing from requirements.txt, I get a strange error:
[code]
I'm guessing this may have something to do with my local configuration.

What's strange is that when I replace the line `git+git://github.com/pytorch/tnt.git#egg=tnt` with `git+git://github.com/pytorch/tnt.git` in requirements.txt, it works fine. Even just plain `torchnet` works well, which get us version 0.0.4.

[2018-10-03 18:40] #10 closed, assigned to nobody

[2018-10-03 18:59] #8 closed, assigned to nobody

[2018-10-03 19:01] #5 closed, assigned to nobody

[2018-10-07 07:06] eugenium opened #12 "differentiable.py file in 2d scattering"
@edouardoyallon
I think this file needs to be integrated in the main scattering2d script

https://github.com/eickenberg/scattering_transform/blob/152011f6f9eceaaab594c333e1f019a217dbf707/scattering/scattering2d/differentiable.py

[2018-10-07 18:10] eugenium opened #13 "scattering2d permit setting the number of orientations"
@edouardoyallon  currently it is hardcoded to 8, it seems an easy fix to adjust that no?

[2018-10-10 23:59] edouardoyallon opened #19 "[bug] 2d unit test"
Code refactoring required for the unit test of 2d, current code doesn't pass them

[2018-10-11 00:04] edouardoyallon opened #20 "Comparison to matlab (1D,3D)"
Hi,

- [x] 1D
- [x] 3D

I saved from the matlab version of Joakim and Laurent some data {x,Sx}, a while ago, here, for the 2D:

https://github.com/edouardoyallon/scattering_transform/blob/master/scattering/scattering2d/tests/test_data.pt

It was my "garde fou": I was making sure that the scattering outputs the same Sx. Would it be possible to collect something similar for 1D and 3D? It's probably

[2018-10-11 00:29] edouardoyallon opened #21 "removing warnings from 3d code"
hi,

Just getting this kind of warning:
scattering/scattering3d/scattering3d.py:239: DeprecationWarning: invalid escape sequence \s

Easy to fix

[2018-10-13 23:37] #19 closed, assigned to eickenberg, eugenium, edouardoyallon

[2018-10-13 23:52] edouardoyallon opened #23 "testing pytorch(and other subpackages) version when loading"
Hi,

I think we should add a way to make ensure that a reasonable version of pytorch is combined with kyamoto, at running time
Thanks,
E

[2018-10-13 23:54] edouardoyallon opened #24 "Using torch.FFT for 1D"
Hi,

Please simplify the 1D code using something similar to:

https://github.com/edouardoyallon/scattering_transform/blob/removing_differentiable/scattering/scattering2d/utils.py#L142-L165

The only tricky thing corresponds to the renormalization...

E

[2018-10-13 23:55] edouardoyallon opened #25 "Using torch.FFT for 3D"
Hi,

Please simplify the 3D code using something similar to:

https://github.com/edouardoyallon/scattering_transform/blob/removing_differentiable/scattering/scattering2d/utils.py#L142-L165

The only tricky thing is the renormalization...

E

[2018-10-14 00:43] edouardoyallon opened #26 "Propagating the name "kymatio""
Kymatio has been voted as the enw software name. So... let's fix this!

[2018-10-14 00:53] #13 closed, assigned to nobody

[2018-10-14 01:34] eickenberg opened #27 "Lazy imports for skcuda + other gpu-only modules"
Currently the examples cannot run without `skcuda` installed, which is a problem for computers that don't have an nvidia graphics card.

We'll probably need to lazy-import this package when it is needed.

I am wondering @rleonarduzzi did you run into exactly this problem?

With a little bit of luck this might go away when we fully rely on `torch.fft`. Let's wait for that merge to see whether somet

[2018-10-14 18:43] joanbruna opened #28 "gcc49 required"
Build failed on the standard server of Courant (NYU) (x86_64) due to gcc49. Here is the log:

``[bruna@vine7 scattering_transform]$ pip install -r requirements.txt
Requirement already satisfied: cupy in /home/bruna/anaconda3/lib/python3.6/site-packages (from -r requirements.txt (line 1))
Requirement already satisfied: torch>=0.1.11 in /home/bruna/anaconda3/lib/python3.6/site-packages (from -r requ

[2018-10-20 10:45] #12 closed, assigned to edouardoyallon

[2018-10-22 18:59] edouardoyallon opened #32 "Typos in the 1D doc"
- https://github.com/AndreuxMath/scattering_transform/blob/master/scattering/scattering1d/scattering1d.py#L192 here it is fft2!
- https://github.com/AndreuxMath/scattering_transform/blob/master/scattering/scattering1d/scattering1d.py#L477 there is no more variables, everything is tensor now!

[2018-10-22 21:26] eickenberg opened #33 "DOC example that visualizes 2D filter"
@edouardoyallon could you make a very short example that plots a 2D filter bank using matplotlib?

If you feel productive, the same for 1D would be also great to have

[2018-10-25 02:38] janden opened #37 "`Scattering1D.forward` outputs Fourier transform for `average_U1 = False`"
Instead of outputting the actual `Ux` signal, it outputs its Fourier transform after padding. Need to do an IFFT and proper unpadding before outputting.

[2018-10-26 12:22] #21 closed, assigned to nobody

[2018-10-26 16:50] #23 closed, assigned to nobody

[2018-10-26 16:51] #32 closed, assigned to lostanlen, janden, AndreuxMath

[2018-10-26 17:15] #28 closed, assigned to eickenberg

[2018-10-26 19:30] janden opened #48 "Scattering1D tests require sklearn"
Specifically `test_filters`, `test_scattering` and `test_utils`. They only use the `check_random_state` function. Perhaps there is a way to do this with only scipy/numpy?

[2018-10-26 20:25] janden opened #50 ".cache folder is not hidden in .gitignore"
Don't want to commit this by accident, do we?

[2018-10-27 08:39] edouardoyallon opened #56 "[2fix] Annoying warning to invalid escape"
[code]

[2018-10-27 08:57] edouardoyallon opened #58 "Bug with backends"
Hi,

When doing:

[code]
I obtain the following error:

[code]

It works like a charm when doing
`export SCATTERING_BACKEND=skcuda`
or when not assigning SCATTERING_BACKEND

The main reason is that for some reasons, the 3D tries to import its own backend, even when doing 2D test. It's a bit annoying because since this, I do not test the 2d scattering code and it has plenty of bugs that I try to fi

[2018-10-27 09:46] #24 closed, assigned to edouardoyallon

[2018-10-27 09:52] edouardoyallon opened #60 "test folder of 3D?"
Hey,

I just realized that: https://github.com/eickenberg/scattering_transform/tree/master/test corresponds to the test folder of the 3D, isn't it? Let's move it to the appropriate place?

E

[2018-10-28 04:40] #56 closed, assigned to nobody

[2018-10-28 04:45] #48 closed, assigned to nobody

[2018-10-28 04:47] #50 closed, assigned to nobody

[2018-10-28 04:47] #60 closed, assigned to nobody

[2018-10-28 04:48] #33 closed, assigned to edouardoyallon

[2018-10-28 05:57] #58 closed, assigned to nobody

[2018-10-28 10:16] edouardoyallon opened #65 "Questions on the file in the folder named "scattering""
I think this should merely and simply raise an error, no?

https://github.com/eickenberg/scattering_transform/blob/master/scattering/__init__.py#L20-L25

What is the purpose of this file?

https://github.com/eickenberg/scattering_transform/blob/master/scattering/scattering.py

Is this file merely specific to 3D? If yes, should be moved in example folders

https://github.com/eickenberg/scattering_t

[2018-10-28 16:06] #37 closed, assigned to janden, AndreuxMath

[2018-10-28 18:11] #65 closed, assigned to nobody

[2018-10-29 02:56] janden opened #68 "1D classif example now fails"
Specifically, we get
[code]
which is not very impressive. This used to work before (as of 5b41a31), giving
[code]
but no longer...

[2018-10-29 06:07] #25 closed, assigned to eickenberg

[2018-10-29 16:50] edouardoyallon opened #71 "[TODO] Computation time... and rough speedup"
For 1D,2D,3D, this is absolutely necessary.
For 2D, I'll compare with "pyscatwave" to which I'll compare(for which i have a rough idea of th espeedup w.r.t. MATLAB). Hopefully it'll be faster

CPU + GPU time

- [x] 1D, batches of size 128x1x262144, J=10, Q=8
- [x] 2D, batches of size 128x3x256x256, L=8, J=3
- [x] 3D, batches of size 2x128x128x128, L=2, J=2

E

[2018-10-29 21:14] edouardoyallon opened #75 "[BUG] ... typo that killed the unit tests..."
https://github.com/eickenberg/scattering_transform/blob/master/scattering/scattering2d/tests/test_scattering.py#L17

Damn. It means there was no unit tests since a while and that it was if were on a free fall for a while

🥇

[2018-10-30 01:31] #68 closed, assigned to janden

[2018-10-30 10:41] #75 closed, assigned to edouardoyallon

[2018-10-30 10:41] #27 closed, assigned to nobody

[2018-10-30 14:04] edouardoyallon opened #78 "demo.py in 1d?"
https://github.com/edouardoyallon/scattering_transform/blob/fixing_cpu_gpu_unit_test/scattering/scattering1d/tests/demo.py

shouldn't it be moved in examples or removed? that's not an unit test at all.

[2018-10-30 14:44] edouardoyallon opened #79 "Sphynx gallery"
Hi,

Those files :

mnist.py|synthetic.py|real_signal.py|scattering3d_qm7.py

do not pass in sphynx gallery because there is no doc string. I'm willing to removing the warning also

[2018-10-30 16:42] #78 closed, assigned to janden

[2018-10-30 18:12] #20 closed, assigned to eickenberg, lostanlen, janden, AndreuxMath

[2018-10-30 18:13] edouardoyallon opened #89 "update minimal torch version"
hi,

https://github.com/eickenberg/scattering_transform/blob/master/requirements.txt#L1

tks

[2018-10-30 19:31] janden opened #92 "Missing dependency `appdirs`"
Just tried a fresh install and the backends crash when trying to import `appdirs`. A quick `pip install appdirs` fixes it. I'm guessing it was a dependency of some of the packages we have now removed, so we should probably put it in `requirements.txt`.

[2018-10-30 19:52] #92 closed, assigned to nobody

[2018-10-30 19:52] #71 closed, assigned to nobody

[2018-10-30 20:01] edouardoyallon opened #95 "[improvement] Annoying warning"
[code]

It probably comes from:

https://github.com/eickenberg/scattering_transform/blob/master/scattering/scattering2d/filter_bank.py#L10

but numpy fft are slow slow slow annoyingly slow slow and I'm too lazy to switch everything to pytorch. Any ideas?

[2018-10-30 20:14] #89 closed, assigned to nobody

[2018-10-30 20:30] edouardoyallon opened #97 "sphinx requirements"
pip install sphinxcontrib-bibtex
Sphinx>=1.4.3

this must be in requirements to compile the doc!

[2018-11-01 01:32] janden opened #102 "Do batch_size > 1 for 1D sample scattering test"
Right now, it seems to miss some bugs in the general case. For example, it didn't catch that the skcuda backend had a faulty "subsample_fourier".

[2018-11-01 11:28] janden opened #104 "CPU fallback for skcuda backend"
Currently, the skcuda backend errors when you try to give it CPU tensors. While this makes sense, it does make it quite hard for people to structure their code. Things like
[code]
will run for `SCATTERING_BACKEND_2D="torch"` but fail for `SCATTERING_BACKEND_2D="skcuda"`.

To get code that runs for both backends, you must write the code to always run on GPU. If you write code that runs on CPU, your

[2018-11-01 16:06] edouardoyallon opened #105 "sphinx-gallery: 1d/plot_filters"
Plot first-order (Q = 8) and second-order (Q = 1) wavelets along with their lowpass filters —————————————————————————

This is not long enough and does not display well on sphinx-gallery

Please close this issue only when you're happy with the sphinx-gallery.

[2018-11-01 16:08] edouardoyallon opened #106 "sphinx-gallery: 2d/plot_filters"
the wavelets does not display.

Please close this issue only when you're happy with the sphinx-gallery.

[2018-11-01 16:10] edouardoyallon opened #107 "sphinx-gallery: 1d/classif"
please fix the narrative and try to do a shot story by splitting the code in few blocks(short sentences)

Please close this issue only when you're happy with the sphinx-gallery.

[2018-11-01 16:19] edouardoyallon opened #108 "sphinx-gallery: 1d/compute_speed 2d/compute_speed 3d/compute_speed"
Please make sure that on CPU, the running time will not be to slow. Please fix the current warning. Please improve a bit the narrative. Please do a first forward to make sure we do not count also the comptuation time for building the cuda kernels/memory creation

thanks

Please close this issue only when you're happy with the sphinx-gallery.

[2018-11-01 16:21] edouardoyallon opened #109 "sphinx-gallery: 1d/real_signal or 1d/synthetic"
Please remove from line 60 of doc/conf.py the name real signal or synthetix, and work on one of them.

Add a basic narrive, display. If you don't want to add it to the sphinx gallery, please say it here and close this issue with a comment.

Please close this issue only when you're happy with the sphinx-gallery.

[2018-11-01 16:22] #6 closed, assigned to nobody

[2018-11-01 16:23] edouardoyallon opened #110 "sphinx-gallery: mnist.py"
Please do a basic narrive, running script, pretty display. Un comment lline 60 of doc/conf.py to build the doc

Please close this issue only when you're happy with the sphinx-gallery.

[2018-11-01 16:24] #2 closed, assigned to nobody

[2018-11-01 16:25] edouardoyallon opened #111 "sphinx-gallery: 3d/scattering3d_qm7"
Please add basic narrative, display, fix the number, just fix it

Please close this issue only when you're happy with the sphinx-gallery.

[2018-11-01 16:26] #79 closed, assigned to janden, AndreuxMath, louity

[2018-11-01 16:26] #95 closed, assigned to nobody

[2018-11-01 16:27] #3 closed, assigned to nobody

[2018-11-03 18:08] eugenium opened #116 "Sphinx build fails"
We need some clear instructions on how to build the sphinx, currnetly it failse.

I checked out from master and got several errors that required the following installs:
`pip install sphinx
pip install sphinxcontrib-bibtex
pip install sphinx-gallery`

even after that I get the following errors:

eugene@farnsworth:~/tmpscat/scattering_transform/doc$ make html
Running Sphinx v1.7.4
making output dire

[2018-11-04 01:20] #104 closed, assigned to nobody

[2018-11-04 02:54] #109 closed, assigned to lostanlen, janden, AndreuxMath

[2018-11-05 20:53] janden opened #122 "3D crashes on CPU"
Getting the following error when calling `forward`:
[code]
From what I understand, the code is set up to detect whether the input is GPU and apply the appropriate operators (there's not `cuda()` or `cpu()` functions to convert the transformer like in 1D and 2D). Looks like when I run this without CUDA enabled, it crashes when trying to determine the type of the input tensor. It might be my persona

[2018-11-06 07:56] eugenium opened #125 "Clear Instructions for Backend (was: 2d has drastically slowed down on GPU versus pyscatwave)"
I've compared to imagenet sizes pyscatwave and kymatio 2d. The results are on 1080 Ti and use the script currently in examples/2d/compute_speed.py with a minor change

pyscatwave:
Elapsed time: 5.118290 [s / 10 evals], avg: 0.51 (s/batch)

kymatio:
avg: 3.06 (s/batch)

@edouardoyallon

To reproduce my results in the current speed example set N,M to 224

To reproduce the result for pyscatwave I att

[2018-11-06 19:24] edouardoyallon opened #128 "[ENH] differentiable skcuda"
Hi,

So Stéphane would be super happy to have a super fast differentiable scattering... who has the time to do this?(not me, I'm sorry about that) A simple unit-test to compare the gradients with torch backend is enough to validate the approach.

Best,
EO

[2018-11-07 00:04] #102 closed, assigned to janden

[2018-11-17 21:49] edouardoyallon opened #135 "Sphinx: 2D classif"
One should remove those wanings:

[code]

[2018-11-17 22:06] #116 closed, assigned to nobody

[2018-11-17 22:12] #107 closed, assigned to lostanlen, janden, AndreuxMath

[2018-11-17 23:11] edouardoyallon opened #137 "unexpected warnings"
[code]

[2018-11-18 05:18] janden opened #142 "Authors in `setup.py`"
At least one is missing, as far as I can tell. Should this be the same as those listed in `AUTHORS.md`?

[2018-11-18 05:20] #135 closed, assigned to eugenium, edouardoyallon

[2018-11-18 06:38] lostanlen opened #147 "Python 3 requirement"
At the moment it is unclear that kymatio does not support 2.7
What are the officially supported versions of Python in kymatio?
It would be good to decide and reflect the decision with a badge on the README home page of the repository

[2018-11-18 14:52] #147 closed, assigned to nobody

[2018-11-18 15:01] #137 closed, assigned to nobody

[2018-11-18 15:04] #97 closed, assigned to nobody

[2018-11-18 15:04] #26 closed, assigned to eickenberg

[2018-11-18 15:07] #1 closed, assigned to nobody

[2018-11-18 15:15] edouardoyallon opened #150 "[DOC] solving Sphinx issues"
W.r.t.:
Issues: #97  #110 #135 #105 #106 #108 #111
PR: #144

We must find a way to remove the list of "ignore-patterns" here:

https://github.com/eickenberg/kymatio/blob/master/doc/source/conf.py#L61

At the moment we do this, and that the sphinx works, then we will be good with the gallery!

[2018-11-18 15:21] edouardoyallon opened #151 "Benchmarks from README.md"
Please remove. It is unecessary

[2018-11-18 21:30] janden opened #154 "`kymatio.egg-info/` showing up in my root"
Add to .gitignore?

[2018-11-18 21:32] #108 closed, assigned to eickenberg, janden, edouardoyallon, louity

[2018-11-18 21:37] #151 closed, assigned to nobody

[2018-11-18 22:11] #154 closed, assigned to nobody

[2018-11-19 02:39] janden opened #157 "[MAINT] Update license"
First, there's another list of authors there. What to do about it? There's also how it should be named (`LICENSE` seems more standard than `licence.txt`). Finally, it doesn't seem to register with GitHub's license-detection mechanism (license box in top right only says `View license`, not `BSD 3-Clause` or whatever it is that we have).

[2018-11-19 03:34] janden opened #158 "scattering3d returns a tuple instead of tensor"
Each implementation has very different expectations of its inputs and outputs:
- 1D: Expects inputs of size `(B, 1, T)`, outputs `(B, P, T/2**J)`, where `P` is the number of scattering coefficients. Note that if the second dimension of the input is not `1`, it errors.
- 2D: Expects inputs of size `(B, C, M, N)`, outputs `(B, C, P, M/2**J, N/2**J)`. Note that the number of dimensions changes here b

[2018-11-19 04:00] janden opened #159 "Config files and enviroment variables"
In the backend `__init__.py` files, we still go looking for the `scattering.cfg` file and `SCATTERING_BACKEND_*` environment variables. All this needs to be updated to say `kymatio`.

[2018-11-19 05:40] eugenium opened #162 "plot_classif.py fails on GPU machine"
Got an error building the docs on my machine

generating gallery...
WARNING: /home/eugene/tmpscat/kymatio/examples/1d/plot_classif.py failed to execute correctly: Traceback (most recent call last):
 File "/home/eugene/tmpscat/kymatio/examples/1d/plot_classif.py", line 207, in <module>
   num_classes = y_tr.unique().numel()
 File "/home/eugene/anaconda3/lib/python3.6/site-packages/torch/tensor.py",

[2018-11-19 16:03] #105 closed, assigned to janden

[2018-11-19 22:21] gexarcha commented on #158
The 3D version returns different outputs for different versions.

- "standard" would return `(B,P, M/2**J,N/2**J,O/2**J)`
- "integral" would return `(B,P,1,1,1)` (or `(B,P)` not sure)
- "local" would return `(B,P,1)`

The reason for "integral" is practically dimensionality reduction (among others) because  3D  is typically large. For "local" you have to ask @louity to be certain but I think it's t

[2018-11-19 22:28] #162 closed, assigned to janden

[2018-11-19 23:26] lostanlen opened #168 "setup.py needs a long_description"

[2018-11-19 23:29] lostanlen opened #169 "[MAINT] setup.py needs a long_description"
At the moment, the `long_description` of Kymatio in `setup.py` is highly technical

[code]

I would be in favor of pouring the README.md page into that long description field instead.
This is what we do in librosa.

This can be done programmatically by
[code]

Thoughts?

[2018-11-19 23:30] lostanlen commented on #168
involuntary duplicate of #169

[2018-11-19 23:30] #168 closed

[2018-11-20 03:28] #159 closed, assigned to nobody

[2018-11-20 04:29] lostanlen commented on #142
closed by #170

[2018-11-20 04:29] #142 closed

[2018-11-20 04:52] lostanlen opened #175 "[BUG] cache management of 2-D filter banks"
A bug found by running `pyflakes` on the Kymatio source.
Originating in code by @edouardoyallon  and @gabrielhuang

It happens in a `try` statement which is itself part of an `except` statement, so the bug is really hard to trigger, but it's there.

https://github.com/kymatio/kymatio/blob/56a846f059ba5e185a7378e4a057f11bea25552a/kymatio/scattering2d/filter_bank.py#L119
`filer_file` should read as

[2018-11-20 06:24] lostanlen opened #176 "[BUG] __all__ in scattering2d.py"
another bug I found while eyeballing at pyflakes

https://github.com/kymatio/kymatio/blob/master/kymatio/scattering2d/scattering2d.py#L5

`Scattering` should read as `Scattering2D`

this affects the behavior of `from kymatio.scattering2d import *`

EDIT: the reason why it does work as expected is that it gets overwritten by `__init__.py` in the module. Still, it would be good to clarify the situat

[2018-11-20 06:32] lostanlen opened #177 "[BUG] unimported warnings in cdgmm3d"
The warnings for non-contiguous inputs in the PyTorch backend of `cdgmm3d` need to be prefaced by an `import warnings` statement

https://github.com/kymatio/kymatio/blob/master/kymatio/scattering3d/backend/backend_torch.py#L69

https://github.com/kymatio/kymatio/blob/master/kymatio/scattering3d/backend/backend_torch.py#L72

Besides, the error messages should not end with exclamation marks. They ad

[2018-11-20 14:05] lostanlen commented on #169
I implemented the above in #171, including stripping out the GitHub badges (PyPI, license, Travis, etc.) which do not pretty-print properly on PyPI homepages.
Next step for me is to reflect this in `docs/conf.py`

[2018-11-20 20:45] janden commented on #122
This needs to be fixed before release.

[2018-11-20 20:47] janden commented on #158
Cool. So can `integral` and `local` be computed from `standard`? The more we can standardize the function of the `forward()` functions, the better. It may be better to apply these transformations as post-processing, if possible.

Also, what's the purpose of the tuple structure? Is that necessary or could the Tensors be concatenated?

[2018-11-20 20:57] eugenium commented on #125
This is still a major issue. I attempted to use the software and could not figure out after 15 min how to make the backend swith correctly.

I attempted to install from pip as in the README. I also attempted to install from source. In both cases I tried to set KYMATIO_BACKEND, as well as KYMATIO_BACKEND_2D... the torch backend is always picked up and no warnings are thrown:

KYMATIO_BACKEND_2D=skc

[2018-11-20 21:18] gexarcha commented on #158
local probably not. Integral yes but it may be slower.

[2018-11-20 21:18] gexarcha commented on #158
Yes I can do that

[2018-11-20 21:44] #169 closed

[2018-11-20 22:02] janden commented on #158
Hmm ok. Maybe best to leave this right now. Is it something that's used anywhere else?

Slower because it would leave large arrays unaveraged? As long as they stay in GPU memory, is it that bad? The caller can always average them later, right?

Ok. Let's do that, then.

[2018-11-20 22:38] eugenium commented on #125
Looks like this was due to a bug in the pip version that @eickenberg is now aware of !!

[2018-11-20 22:38] eickenberg opened #179 "KYMATIO_BACKEND=skcuda doesn't work"
because scattering3d doesn't have that backend.

Ideally we would make scattering just not import 3D if that backend is chosen. Or we could make it be not functional and raise an error when it is executed.

 It shouldn't cause a global importerror though

[2018-11-20 22:39] eickenberg commented on #179
fyi `KYMATIO_BACKEND_2D=skcuda` works and even `KYMATIO_BACKEND=skcuda KYMATIO_BACKEND_3D=torch` works

[2018-11-20 22:43] eickenberg commented on #125
when did you install the pip version? The new one should actually work with
the correct env variables

On Tue, Nov 20, 2018 at 2:38 PM Eugene Belilovsky <notifications@github.com>
wrote:

[2018-11-21 01:11] janden commented on #179
I would vote for (2), that is, make it non-functional when `skcuda` backend is chosen and raise an error when instantiating (or calling `forward()`).

[2018-11-21 14:29] janden commented on #179
@louity that would probably be the best solution, assuming it doesn't take too much time. The 15% reduction is similar to what we see in 1D and can always be improved upon later.

[2018-11-21 15:44] janden opened #180 "Warning in `mnist.py`"
Specifically, https://github.com/kymatio/kymatio/blob/289bc26551e92456ef7a48fbe83d48e157f7632c/examples/2d/mnist.py#L50 generates a warning saying that `size_average` will be deprecated and says to use `reduction='sum'` instead. Is this ok for us to do?

[2018-11-21 15:50] louity commented on #179
@eickenberg  should I make a fork from eickenberg/kymatio or kymatio/kymatio ?

[2018-11-21 15:52] lostanlen commented on #179
@louity the latter

[2018-11-21 22:33] lostanlen opened #182 "[MAINT] AttributeError: module 'kymatio' has no attribute '__version__'"
This came up in #172

PEP 396 has introduced the convention of exposing the constant `__version__` to the top-level module
At the moment this is in `kymatio.version.version` (so that `version.py` can be loaded in `setup.py` without importing the whole `kymatio` module)
https://www.python.org/dev/peps/pep-0396/

Will submit a PR later

[2018-11-22 23:31] #182 closed

[2018-11-22 23:33] eickenberg commented on #179
Cool, thanks very much @louity for adding this backend!

As far as I know the main speed-up due to skcuda/cupy backend in the 2D version comes from the kernel implementation of the fourier downsampling.

Do you have such an implementation for the 3D code and is this already in the 15% you mention?

[2018-11-22 23:35] eickenberg commented on #122
Yeah this is more important than having a skcuda backend for 3D

[2018-11-22 23:38] eickenberg commented on #125
I propose to add a *Important for Deep Learning on Imagenet* section to the readme in order to make this very clear.

After release we can think about how to make this whole backend thing better

[2018-11-22 23:41] eickenberg commented on #157
Sounds good to me!

[2018-11-23 00:14] lostanlen commented on #125
I find the collect_env.py script of PyTorch really useful for troubleshooting this kind of backend issues
https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py

[2018-11-23 13:52] lostanlen commented on #157
I can update the text of the license right now, but getting GitHub's license detection mechanism to recognize our `LICENSE` as `BSD-3-Clause` might be harder than expected.
See this open issue on the Go language for example:
https://github.com/golang/dep/issues/1431

[2018-11-23 17:12] louity commented on #179
Yes @eickenberg  In the 3D code it's 15% essentially because you have more complex multiplications than fourier transforms : in solid harmonic scattering transform, for 1 "convolution" with psi_l you have 2 FFT and 2L+1 complex multiplications

[2018-11-23 17:58] #180 closed

[2018-11-23 18:02] #177 closed

[2018-11-23 18:14] #176 closed

[2018-11-23 19:47] lostanlen commented on #158
FWIW "local" measures scattering transform near a single point, much in the same way as the foveal scattering of @AndreuxMath and @beedotkiran
So it makes sense that it does not have spatial coordinates
Likewise for integral
@janden we might consider implementing integral in 1d in the future, as it runs faster than convolution with phi

@gexarcha I think that there are two issues here. One is how

[2018-11-24 06:05] eickenberg commented on #175
:rofl:

unclear to me whether that is good, since joblib saves anonymous hashes, whereas since we know all the parameters that go into filter generation, we can write informative filenames

yeah probably a good idea as a general policy. takes some learning though and some decisions

[2018-11-24 06:19] eickenberg commented on #158
(Woa I thought we had lost this issue somewhere, but it just has a new title :) )

I think we are probably in the luxurious situation where we can just operate on the last n relevant axes of our data, e.g. by reshaping everything else into one huge sample axis and then reshaping back after the operation is done.

It would accommodate batchnorm and all the other shape-bound issues that might come u

[2018-11-24 08:49] edouardoyallon commented on #111
@louity is(are) there some additional modification(s) you are willing to do?

[2018-11-24 10:00] edouardoyallon commented on #175
I think I agree with @eickenberg . Long term will decide which solution to chose, for now I believe it's ok; feel free to open a new issue later.(I prefer several issues with single problems rather than several problems into one issue)

[2018-11-24 10:06] edouardoyallon commented on #110
@eugenium any news? let's end this up asap.

[2018-11-24 20:39] #125 closed

[2018-11-24 22:50] lostanlen opened #194 "Inconsistency in the position of J across Scattering*d constructors"
A follow-up on a discussion with @janden  and @eickenberg  in #158
At the moment, the order of positional arguments in the scattering constructors are:
Scattering1d: `T, J, Q`
Scattering2d: `M, N, J`
Scattering 3d: `M, N, O, J, L, sigma_0`

The only parameter that is truly common to each of these classes is `J`. It is also the only one in which we really can't provide a good default value. Lastly,

[2018-11-25 00:08] lostanlen commented on #194
I had green light from @eickenberg to do this so I've opened PR #195 as a fix
What a time to be alive

[2018-11-25 00:33] lostanlen commented on #179
I can't write a skcuda backend for 3d myself, but in the interest of time, what I can do is have Kymatio return a `NotImplementedError` if `KYMATIO_BACKEND=skcuda`.

[2018-11-25 00:58] lostanlen opened #196 "Inconsistency in disabling second order"
The order of the scattering transform is integer in 1d (`max_order=2`), boolean in 2d (`order2=True`), decided at forward runtime in 3d (`order_2=True`).
I would propose to unify this and make it integer, so that third-order scattering could, in principle, be implemented in the future.
I don't love the name `max_order`. The `max` prefix makes it sound like it's signal-adaptive, whereas it's a stat

[2018-11-25 01:52] eugenium commented on #110
I'll take care of it on Monday

[2018-11-25 02:31] eickenberg commented on #179
that would be OK if it throws at instantiation, but not OK if it throws that at import. It would render this environment variable useless until that backend is implemented.

So +1 for `NotImplementedError` at instantiation of a 3D object with inexistant backend.

[2018-11-25 02:36] eickenberg commented on #179
That makes sense, thanks

[2018-11-25 02:41] lostanlen commented on #158
Regarding the relationship between ndims of input and ndims of output, it is true that it would be good to be more consistent. At the beginning I wanted to modify the output of `Scattering1D`, but upon second thought I think it's best to modify the input.
So that: `(B,T)` maps to `(B,P,T')`
just like in other modules.
Then in the future we can think about implementing something more generic, as @j

[2018-11-25 03:04] lostanlen commented on #179
OK, I'm tagging this issue (skcuda backend by @louity) for 0.2.0 and will raise another one re: NotImplementedError

[2018-11-25 03:07] lostanlen opened #197 "skcuda backend needs a NotImplementedError for 3d"
Came up in discussion in #179
This issue is the short-term plan (0.1.0-alpha) whereas the actual implementation (#179) is tagged 0.2.0

[2018-11-25 22:11] lostanlen commented on #196
Either we do it now, either we postpone it to `0.2.0` along with a deprecation, and remove the deprecation in `0.3.0`. Thoughts?

[2018-11-26 01:32] #106 closed

[2018-11-26 01:35] lostanlen commented on #150
@eickenberg why is this closed if #110 and #111 are still open?

[2018-11-26 17:49] lostanlen commented on #157
Believe it or not, this looks more and more like a `wontfix`
https://github.com/golang/dep/issues/1431#issuecomment-441728253

[2018-11-26 20:37] lostanlen commented on #196
Oh my, that's a good point.
Come to think of it, I like `max_order` more than `n_orders`. Because the `orders` can be changed at runtime between `0` and `max_order-1`. Shall I make a PR?

[2018-11-26 21:18] janden commented on #158
Agreed. I don't think so, as long as we're clear about the behavior. At the end of the day, it's not terribly more "unexpected" than `torch.fft`.

[2018-11-26 21:41] janden commented on #196
Ok great!

Am I missing something here or do you mean `orders` can contain values between `0` and `max_order`?

Yes please!

[2018-11-26 21:43] lostanlen commented on #196
No, you're right. Anywhere between `0` and `max_order`. And it defaults to `range(0, 1+max_order)`.
I got bitten by EWD 831 again

[2018-11-26 21:43] eugenium commented on #196
wait your telling me I can do Scattering2d(max_order=0)?  lol

[2018-11-26 21:44] lostanlen commented on #196
@eugenium I mean, it's a pretty contrived way to compute a Gaussian blur, but who's to say that there will never be a use case for it? :p

[2018-11-26 21:48] janden commented on #196
Why not? I think it works in `Scattering1D` already. Go ahead, try it for yourself!

[2018-11-26 22:38] janden commented on #158
Also, while we're here, 3D doesn't compute the zeroth order. Can we add this in? Currently, there's another function `compute_integrals` which does this (`test_scattering3d.py` uses this to get the full transform and compare it with the stored data).

[2018-11-26 23:11] janden commented on #157
Huh. Did you try

https://help.github.com/articles/adding-a-license-to-a-repository/

on a branch to see what it does?

[2018-11-27 02:44] lostanlen commented on #157
Yes. It id not possible to set a license on a branch or fork via the GitHub API.
And in kymatio/kymatio -> insights -> community, the license appears in green, which AFAICT is irreversible.

[2018-11-27 02:56] janden commented on #157
Bleuh...

It seems like it lets me do it on the main repo. Maybe we could try this and rollback the commit if it doesn't work?

![image](https://user-images.githubusercontent.com/3976052/49055580-18ff4000-f1c6-11e8-8e3b-aec91d107ef9.png)

[2018-11-27 02:57] #197 closed

[2018-11-27 02:59] lostanlen commented on #157
Sure, go ahead! Thanks

[2018-11-27 03:02] lostanlen opened #202 "need for a cross-module `shape` kwarg to constructors"
An issue that appeared in discussion of #194
It is already on its way to be solved because of PR #195 (which incorporated github.com/lostanlen/kymatio/pull/2 by @eickenberg)
But I'm still opening it so that we can add it to the alpha milestone and be reminded of it in our API changelog

[2018-11-27 03:07] janden commented on #157
Woohoo!

![image](https://user-images.githubusercontent.com/3976052/49055963-97a8ad00-f1c7-11e8-8803-08aee4b202ca.png)

[2018-11-27 03:11] lostanlen commented on #157
closed by the capable hands of @janden

[2018-11-27 03:11] #157 closed

[2018-11-27 04:28] lostanlen opened #204 "README needs more resources before 0.1.0-alpha"
Our README file needs some love before alpha release
- [x] link to PyPI rather than test simple (in anticipation of release)
- [x] temporarily remove reference to paper for citing
- [x] write contributing guidelines and put a link to them in README
- [x] link to source code, PyPI, and issue tracker (like scikit-learn)

A good model is scikit-learn: https://github.com/scikit-learn/scikit-learn/blob

[2018-11-27 04:58] #194 closed

[2018-11-27 04:58] #202 closed

[2018-11-27 13:51] lostanlen commented on #204
Yes, I began last week with a stub of `CONTRIBUTING.md` (#172 ) which was adapted from scikit-learn but then I got confused with git branches so I closed the PR. We need to start afresh, possibly with some of the things I made in #172

[2018-11-28 14:34] lostanlen commented on #158
yes, 3-D should include the zeroth order.
This can be done in a unified API by defining a list `orders` (defaulting to `range(1+max_order)`) in the `Scattering*D` instantiated object.

Working on the tuple vs tensor inconsistency at the moment.

[2018-11-28 15:02] ctralie opened #211 "Typo in kymat.io 2D scattering example"
Hi all,
First of all, thank you so much for this library.  The scattering transform has turned out to be a great tool in some of my research recently, and it's great not to have to create ugly wrappers around Matlab scatnet.

When getting this setup, however, I noticed that the API has changed slightly, so that Scattering2D expects a tuple shape parameter, instead of two separate dimensions.  Just

[2018-11-28 15:04] ctralie commented on #211
To be more specific, I believe the line
[code]

should be replaced with
[code]

At least, that's what worked for me

[2018-11-28 15:05] lostanlen commented on #211
Hello @ctralie, welcome to Kymatio.
We just changed this in PR #195, which closed issue #202.
The typos in the example were changed in PRs #205 and #206.

[2018-11-28 15:06] ctralie commented on #211
Hi Vincent, sorry I missed the previous issues about this!  The typo is on

http://www.kymat.io/

[2018-11-28 15:08] lostanlen commented on #211
Oh I see, the typo is on the website, not the docs.
Yeah, we need to refresh the docs once more before alpha release.
We are in the midst of a pretty big refactoring of API so that will happen anyway.

But a call of the form
`scattering = Scattering2D(J=2, shape=(32, 32))`

will remain supported until at least version `0.2`, so it's here to stay.

[2018-11-28 15:09] #211 closed

[2018-11-28 17:03] #175 closed

[2018-11-28 17:29] lostanlen opened #213 "1D needs a (B,T) input rather than (B, 1, T)"
originally pointed by @janden in #158

That way, the `ndims` of output should be 1 + `ndims` of input, across modules.

[2018-11-29 02:43] janden opened #214 "Enable texext in Sphinx"
Enable the [texext](https://pypi.org/project/texext/) extension in Sphinx and convert all occurences of `` :math:`...` `` to `$...$`.

[2018-11-29 19:22] #158 closed, assigned to lostanlen

[2018-11-29 20:20] lostanlen commented on #196
@eickenberg the kwarg `orders` can be added later.
here we do not have one because we only officially support `orders=range(0, 1+max_order)`
but this kwarg is useful for:
* skipping the zeroth order (in audio for example)
* skipping the second order without having to construct a whole new operator

`max_order` would be stored as `_max_order` (pseudo-immutable) in the object
but
`orders` would be s

[2018-11-29 21:13] eickenberg commented on #196
meaning `orders=` ?

agenda == 1. add `max_order` now 2. add `orders` some time in the future?
then yes

[2018-11-29 22:08] lostanlen commented on #196
yes, `this kwarg` is `orders` :)
shall we rebase and merge #212 then?

[2018-11-29 22:34] eickenberg commented on #196
Yes

On Thu, Nov 29, 2018, 2:08 PM Vincent Lostanlen <notifications@github.com
wrote:

[2018-11-30 00:45] #213 closed

[2018-11-30 02:47] janden opened #216 "`Scattering3D` crashes for `J != 2`"
This was introduced by concatenation along the wrong axis in 36bfb11f29c0e7a3cddfc1eedc23ba84e9c17ea8. Instead of concatenating along axis 1 (that is, the spatial dimension), the concatenation should (of course) be along axis 2 (that is, the filter index/scale dimension).

It was not caught by the test suite since all tests have `J = 2`, which has the special property that the number of first-orde

[2018-11-30 03:02] eickenberg commented on #216
:confounded:

[2018-11-30 03:02] eickenberg commented on #216
could you open a PR with a test added to the 3d that fails?

[2018-11-30 03:07] janden commented on #216
Unfortunately, this cannot be easily resolved at the moment without reverting #210 or severely butchering the `test_against_standard_computations` test in the 3D test suite. The issue is the (incompatible) storage of the output array stored as part of the test and the array output by `Scattering3D`. The former is stored in the layout `(order*integral_power*scale*ell)` (as a flat array), while the

[2018-11-30 03:10] janden commented on #216
Yes.

[2018-11-30 04:04] janden commented on #122
Interestingly, this doesn't crash if `method='integral'` is specified. All tests in the 3D suite have this set, which is why Travis doesn't complain.

[2018-11-30 04:09] janden commented on #122
Looks like the culprit is `Scattering3D._low_pass_filter` which checks CUDAness of the input using `isinstance(x, torch.cuda.FloatTensor)`. If `method='integral'`, this is never called, so no crash. The only other function checking CUDAness in this instance is `Scattering3D._rotation_covariant_convolution_and_modulus`, which uses `x.is_cuda`.

[2018-11-30 15:46] janden opened #218 "Make inputs dimension-agnostic (1D/2D)"
In other words, make `Scattering*D` operators act only on last dimension without forcing a specific convention on previous dimensions. The output would have the same shape, but this the time/spatial dimension subsampled and another (scattering) dimension added right before it. So we'd have

- in 1D, `batch_shape + (T,)` input gives `batch_shape + (C, T/2**J)` output, and
- in 2D, `batch_shape + (N

[2018-11-30 16:30] janden opened #220 "CUDA<->CPU interface for 3D"
Continuation of the discussion from #122. It would be good to have a way to set the `Scattering3D` object to CPU or CUDA modes, just like the 1D and 3D codes with `cpu()` and `cuda()` functions that mutate the object. Note that calling `cuda()` doesn't have to make the object move its filters to GPU (like the 1D and 2D code currently does), but simply gives it the option to. This may be better in

[2018-11-30 16:33] lostanlen commented on #218
Thanks for raising this Joakim. For future reference, this originated in PR #215 which closed issue #213, which itself was derived off #158.
Quoting Semver 7:

Therefore this change should be marked as `0.2.0`, not `0.1.0-beta`.

[2018-11-30 16:37] janden commented on #218
Even if it's backwards-compatible, huh? Didn't know that.

Ok so unless we can push this into `0.1.0-alpha`, `0.2.0` it is. It honestly shouldn't be that hard.

[2018-11-30 16:45] lostanlen commented on #218
https://semver.org is an insightful read.
during `0.y.z` phase:
* backwards-incompatible API changes push to `0.(y+1).z`
* backwards-compatible API changes push to `0.(y+1).z`
* bugfix changes push to `0.y.(z+1)`

during `x.y.z` phase where `x>0`:
* backwards-incompatible API changes push to `(x+1).y.z`
* backwards-compatible API changes push to `x.(y+1).z`
* bugfix changes push to `x.y.(z+1)`

[2018-11-30 19:02] janden commented on #218
Ok makes sense. Good thing we don't have `x>0` then. Sounds like a pain....

[2018-11-30 19:12] #216 closed

[2018-11-30 19:51] #122 closed

[2018-12-01 01:27] janden opened #222 "3D output format"
Currently, `Scattering3D` takes an input of shape `(B, M, N, O)`, where `B` is the batch size and `M, N, O` is the shape of the input signal. Depending on `method`, the output takes different formats:

- If `method='standard'`, the output is of shape `(B, 2*M*N*O, total_scales, L+1)`, where `total_scales` is the number of scales at all orders, that is `(J+1)+J*(J+1)/2` if `order_2=True`. The facto

[2018-12-10 21:43] edouardoyallon opened #223 "Unexpected warning in 3D"
With python=3.6, pytorch=1.0, and installing from sources, then doing "pytest", I obtain the following warning:

[code]

Any suggestions?

[2018-12-10 21:44] janden commented on #223
Yeah I see that one too sometimes. It's not always there, though. Must be version-dependent.

[2018-12-10 23:03] edouardoyallon commented on #214
Fixed by #190 .

[2018-12-11 08:00] edouardoyallon commented on #204
@lostanlen what's the status?

[2018-12-11 12:22] edouardoyallon opened #224 "ENH README.md: install from source + install from pip"
Hi,

I think we should add two manners to install the software in the README(similarly to pytorch)

1. Via the sources.(this is currently not proposed)
2. Via "pip"

Let me know your thoughts about it!

Edouard

[2018-12-11 13:35] lostanlen commented on #224
if there is a use case for installing from source while not in `develop` mode, sure, let's document it by adding it into the README. but let's not add too many different separate ways installations instructions if they are not recommended.

[2018-12-11 13:46] edouardoyallon commented on #224
The interest is as follow: it permits to have a working dev version(with extra features, via the install from source) as well as a released version(pypi) ; I think it might make sens. Waiting for @eickenberg

[2018-12-11 15:20] janden commented on #222
Need to figure this out before release... @eickenberg, @louity?

[2018-12-11 18:12] janden commented on #223
Ok so this one's a little tricky. Looks like there's an underlying issue in the Intel SVM library that is triggered when you give `np.sqrt` an array of size greater than 8192 in single precision, where some elements are exactly zero. More information is found in [here](https://github.com/numpy/numpy/issues/11448) and [here](https://github.com/ContinuumIO/anaconda-issues/issues/9129).

The proposed

[2018-12-11 18:37] edouardoyallon commented on #223
I see. I guess it's better to ignore it then.

[2018-12-11 18:37] #223 closed

[2018-12-11 21:43] janden opened #227 "Simplify 1D constructor"
Right now, there are several arguments to the `Scattering1D` class that are not used: `criterion_amplitude`, `r_psi`, `sigma0`, `alpha`, `P_max`, `eps`. Another argument, `normalize`, is used in one of the tests, but set to its default value (`'l1'`). While it is good to have flexibility, there is currently no evidence that the defaults give unsatisfactory results. Furthermore, having these option

[2018-12-11 22:15] janden commented on #196
So is this done?

[2018-12-11 22:19] lostanlen commented on #196
@janden no, #212 was only for 2D. For 1D it's just a rename. For 3D it's a little bit more involved because at the moment the number of orders is a kwarg of `forward`. It should be made part of the constructor

[2018-12-11 22:57] lostanlen commented on #224
I'm very reluctant to the idea of telling users to use the dev branch.

By definition, the dev branch is for developers, not users. If our "casual" (non-dev) users clone and compile from source without keeping the habit of pulling latest changes and recompiling every time the source tree is updated, they will end up conducting scientific experiments that are based on "nightly" versions of the code

[2018-12-12 02:02] janden commented on #196
Ok. What's the rename in 1D?

[2018-12-12 02:08] lostanlen commented on #196
I stand corrected. No rename needed: it's already named `max_order`, as it should. *À la bonne heure!* ;)

[2018-12-12 02:51] janden commented on #196
Ok. Agreed about 3D. Will look into that tomorrow. In general, I think we should avoid arguments to `forward` and have these be attributes set in the object (like we did in `Scattering1D`).

[2018-12-12 02:59] lostanlen commented on #196
yes, i remember you writing that. i agree. but 3d has a lot of runtime forward kwargs, so it's overdue for a refactoring of the API

[2018-12-12 03:00] janden commented on #196
Will make a separate issue.

[2018-12-12 17:13] janden opened #230 "Remove kwargs to `forward` in `Scattering3D`"
For consistency with 1D and 2D, we should have the keyword arguments be set as attributes instead of arguments to `forward`. Like in 1D, we can have these set in the constructor, if supplied.

[2018-12-12 17:17] janden opened #231 "Default arguments for 3D constructor"
Currently, neither `L` or `sigma0` have default arguments, which is different from 1D and 2D. For `sigma0`, it makes sense to have a default value of `1`. For `L`, a popular value seems to be `3`. Do we want to fix these as defaults?

[2018-12-12 18:48] lostanlen commented on #220
Isn't this related to #179 too?

[2018-12-13 01:10] janden commented on #220
Issue #179 relates to adding an skcuda backend to 3D. This issue concerns adding functions that will put the transform object into CPU or CUDA mode and make the object only accept tensors of that type. The two proposed changes should be independent. Am I missing something here?

[2018-12-13 10:01] edouardoyallon commented on #224
Well, my understanding is that the master could include new features that will have been developed and could be available before release to new users. I had in mind to follow similar guidelines as https://github.com/pytorch/pytorch#installation

[2018-12-13 10:04] eickenberg commented on #230
Yes, please

[2018-12-13 10:45] #218 closed

[2018-12-13 10:52] edouardoyallon commented on #110
looks good to me.

[2018-12-13 10:54] edouardoyallon commented on #111
looks good to me.

[2018-12-13 11:22] eickenberg commented on #231
yes

[2018-12-13 11:35] eickenberg commented on #227
I agree with this. For the first release I'd propose to either not do anything or, as you suggest, fix the parameters, maybe for the moment in the `build` method as class attributes

[2018-12-13 11:53] eickenberg commented on #222
😱 😱 ❗️ ❗️ ❗️

Why do we ravel space and not keep it like every other part of this software package?

yeah

👎

maybe OK.

indeed, though I do not know whether the code actually does anything to optimize. But I think these possibilities should be kept because 3D can easily fill up GPU memory.

yeah I agree

yeah why not

I agree that this needs to be addressed.

[2018-12-13 11:58] eickenberg commented on #220
No, that seems correct. + I think the PR is good to go.

[2018-12-13 14:15] janden commented on #110
There's still no narrative here. It's just a wall of code...

[2018-12-13 14:20] janden commented on #220
Ok. Please merge at your leisure.

[2018-12-13 14:20] janden commented on #230
Ok. Will do.

[2018-12-13 14:20] janden commented on #231
On it.

[2018-12-13 14:22] lostanlen commented on #224
following our discussion on Slack, i will update this to clearly state the implications of installing from source.
ETA < 6 hours

[2018-12-13 14:23] #220 closed

[2018-12-13 15:00] #214 closed

[2018-12-13 15:05] #196 closed

[2018-12-13 21:56] lostanlen commented on #224
See my PR https://github.com/edouardoyallon/kymatio/pull/1

[2018-12-14 03:50] janden commented on #111
Same issue here. There's no narrative.

Maybe we don't do this for 0.1.0-alpha, but we should keep these issues up until there's a good narrative for these.

[2018-12-14 03:52] janden commented on #227
Ok. I like the idea of putting these as attributes and using them during `build`. I'd still keep them out of the docs, though, for now.

[2018-12-14 04:02] janden commented on #222
:man_shrugging:

I'm glad we agree on this.

So make this an attribute? This is what #230 suggests.

Again, #230 is the place to discuss this. For consistency, I'd prefer no arguments to `forward` except for the array.

Well, you skip a lowpass filter in `integral` and I think `local` replaces that lowpass convolution with an inner product, so those should be non-trivial speedups.

Ok good.

Good.

[2018-12-14 09:04] #204 closed

[2018-12-14 09:04] #224 closed

[2018-12-14 14:04] lostanlen commented on #111
@janden i agree. this can be deferred to `-beta` because it does not incur API-breaking changes (nor, indeed, any change in program behavior)

[2018-12-14 14:13] lostanlen opened #236 "[DOC] GFMD formatting of links in README"
Following my PR #233, I introduced some quirks in the GitHub Flavored Markdown (GFMD) formattting of links in the README. Sorry I about that. Will address.

[2018-12-14 16:17] #236 closed

[2018-12-14 20:30] janden commented on #222
Ok. Can you make a separate issue?

[2018-12-14 20:41] lostanlen opened #239 "[RFC] `method` kwarg is not descriptive enough"
This came in discussion over Slack and resurfaced in #222
I would be in favor of renaming the `method` kwarg in `Scattering3D` to something more descriptive, like `sampling`.
Below is a discussion I've have with @eickenberg 3 weeks ago on the topic. You will see that, at first, I'm in favor of the term `averaging`, and then I change my mind to `sampling`.

Michael [21 days ago]
I agree with all of

[2018-12-14 20:44] lostanlen commented on #239
If you're on board with this, I can write a PR to rename `method` into `sampling`. That frees up the name `method` for more abstract things, and it also makes it more generic so that it can eventually apply to 1D and 2D.

[2018-12-14 20:46] #227 closed

[2018-12-15 04:10] janden commented on #239
Sounds good to me.

[2018-12-16 07:29] eickenberg opened #241 "Uses for `method='points'`"
This seems to me like it is an extremely specific case for a research setting that we don't actually need in the software package.

In a future release I'd prefer replacing it by having the possibility of getting `U` returned and then doing the required sampling oneself.

@gexarcha @louity was/is "points" used a lot by you guys? If it has proved useful it might merit a place in the software. If no

[2018-12-16 08:04] #222 closed

[2018-12-16 08:38] #230 closed

[2018-12-16 08:38] #231 closed

[2018-12-16 11:35] edouardoyallon opened #242 "RELEASE requirements?"
Hi,

When doing:

[code]

then cloning the corresponding release, and doing `pytest`, I have tons of errors that are evidences that none of the requirements.txt packages are installed. Actually, this makes me think we should have a pip for the GPU version(like `pip install kymatio-gpu`)?

https://github.com/kymatio/kymatio/blob/master/requirements.txt

[2018-12-16 11:58] edouardoyallon opened #243 "RELEASE version"
output of `python setup.py sdist` is as follow:

[code]

[2018-12-16 12:09] eickenberg commented on #243
The actual release will have a different name - check 0.1.x branch
version.py

On Sun, Dec 16, 2018, 12:58 PM Edouard Oyallon <notifications@github.com
wrote:

[2018-12-16 12:42] edouardoyallon commented on #242
Solved:

The good command was:

 pip install --extra-index-url https://test.pypi.org/pypi/ kymatio

I believe we should also add a kymatio-gpu repo to pypi.

[2018-12-16 12:43] edouardoyallon commented on #243
ok.

[2018-12-16 12:43] #243 closed

[2018-12-16 12:59] edouardoyallon commented on #242
OK, instead to create a kymatio-gpu, as the files do not change, I simply propose to switch in the README.md:

`pip install -r requirements_optional_cuda.txt
`

to

`pip install -r https://raw.githubusercontent.com/kymatio/kymatio/master/requirements_optional.txt`

[2018-12-16 14:07] lostanlen commented on #241
@eickenberg I know nothing about this, but I can see how, if the locations of the atoms are known (and they are, in the case of a known molecule), it might make sense to only evaluate U at the nuclei of these atoms, and then derive some quantum chemical properties out of the scattering coefficients of "each atom".
Likewise, in the foveated scattering of Mathieu and Ravi, the "points" method is use

[2018-12-16 14:15] lostanlen commented on #242
I would be in favor of a  `pip install kymatio-gpu`, but I can see how that is a commitment to have two, rather than one, PyPI hosted mirrors.
Also, random idea but: couldn't we simplify
`pip install -r https://raw.githubusercontent.com/kymatio/kymatio/master/requirements_optional.txt`
to just

`pip install scikit-cuda cupy`
?

I know that this part of the README will need to be updated if our dep

[2018-12-16 14:20] lostanlen commented on #239
oh ... `0.1.0-alpha` is out now. So should I tag this `0.2`?

[2018-12-16 14:21] eickenberg commented on #239
we haven't released yet, but i'd still tag this for next release.

[2018-12-16 15:38] janden commented on #241
Right, but I think @eickenberg's proposed solution is simpler: allow the user to calculate `U` (which we should be doing in any case), then have some way to generate `S` at different products by taking inner products (we can have a different function for this).

In general, I think we want to separate the responsibilities as much as possible between functions. This needs to be balanced with memory

[2018-12-16 15:41] janden commented on #242
Yeah I'd rather go that route as well. It's a little more work for us, but the users' lives would be so much simpler. The question is whether we'd want to go PyTorch all the way and have "kymatio" and "kymatio-cpu"?

[2018-12-16 15:47] edouardoyallon commented on #242
"kymatio" and "kymatio-cpu" sound good. @eickenberg ?

[2018-12-16 18:32] eickenberg commented on #242
Yeah so I am not getting the exact problem that is leading to these suggestions.

Could one of you rephrase it for me - I think I'm being a bit dense.

[2018-12-16 18:42] janden commented on #242
I'm not completely sure, but I think the underlying issue is that the `pip install -r requirements.txt` route is not what happens when you do `pip install kymatio`. Instead, it uses whatever's specified in `setup.py`. I think that, since all the requirements/install stuff is in there (that is, `setup.py`) anyhow, it might make more sense to have two versions of that file, one for CPU and one for G

[2018-12-16 18:48] eickenberg commented on #242
But isn't requirements.txt loaded into setup.py? Or does that still not work?

For me the thing that I'd like to avoid is the installation not running through because it couldn't install a dependency. In that case I would just remove the dependency. Pip is not a smart system and it is sometimes better to leave them out. When the code doesn't run because a package is missing, the user just runs ano

[2018-12-16 18:51] janden commented on #242
I think the issue is that the requirements for GPU are not in there, so you have to do an extra step (`pip install -r requirements_optional_cuda.txt`). Might be nice to delegate all that to the `pip install kymatio` step.

Sure, it's a whole other can of worms. I can go either way.

[2018-12-16 19:04] eickenberg commented on #242
People will either install `torch` or `torch-cpu`. This should suffice for us. `skcuda` and `cupy` can be installed separately.

There seems to be a thing called `--install-options` for pip that we might be able to exploit. But I think that could lead to confusion.

How about the following procedure: we publish `kymatio` with minimal and stable dependencies. If lots of complaints come in via the i

[2018-12-16 19:12] janden opened #245 "Default value for `Q`"
For 2D and 3D, we have defaults for all parameters except `J` and `shape`, but `Scattering1D` also requires `Q`. Should we give a default for this? `Q=8`?

[2018-12-16 19:12] janden commented on #245
Will also simplify the paper somewhat, since we don't have to get into a discussion about `Q` this way.

[2018-12-16 19:35] lostanlen commented on #241
Ah. To be honest I didn't look at the 3D code for how `points` was implemented. If it's not DFS, then that's another reason to keep it outside Kymatio (as a public-facing library). Then again, I don't see anything that prevent doing these inner products by DFS in the futre ...

[2018-12-16 19:52] edouardoyallon commented on #242
ok. So I'll edit such that:

`pip install scikit-cuda cupy`

replaces the requirements_cuda.txt

[2018-12-16 20:04] #242 closed

[2018-12-16 20:09] janden opened #248 "Fix ordering of orders"
Right now, first- and second-order coefficients are interleaved in 1D and 2D. In 3D, we first have first order, then second order. For consistency, it should be the same across dimensions. I propose we abandon the interleaved format and concatenate.

[2018-12-16 20:12] lostanlen commented on #248
Yes. This is a bit of a clash with respect to the spirit of DFS, but much more in line with what's in the paper (Sx defined as the concatenation of S1x and S2x), so let's do it. It also makes extracting the subset of first-order coefficients most convenient. Lastly, it's nicely fitting to their definition that first-order coefficients should be, well ... first in order.

[2018-12-16 21:26] lostanlen opened #250 "`Scattering3d` should be renamed"
As pointed out by @eickenberg in https://github.com/kymatio/kymatio/pull/249#issuecomment-447676253, `Scattering3d` is useful for energy regression in quantum chemistry, but has many idiosyncracies (custom spatial sampling, `ell_p` pooling, meaning of `L`, etc.) that cannot be made perfectly consistent with `Scattering1d` or `Scattering2d`.

So it needs a rename ... `SolidHarmonicScattering3d` nic

[2018-12-16 21:30] janden commented on #250
Why not `HarmonicScattering3D`? Not all of us are blessed with autocomplete...

[2018-12-16 21:31] janden commented on #245
Yes. @AndreuxMath, could this pose a problem?

Where does this happen?

[2018-12-16 21:37] janden commented on #250
Or like spend 33% of my line length on a class name...

[2018-12-16 21:38] eickenberg commented on #250
I'm fine with HarmonicScattering3d. That would allow us to go away from
specifically solid harmonics if we wanted to

On Sun, Dec 16, 2018 at 10:37 PM Joakim Andén <notifications@github.com>
wrote:

[2018-12-16 21:40] lostanlen commented on #245
I stand corrected: it's actually independent of `Q`! :)

https://github.com/kymatio/kymatio/blob/master/kymatio/scattering1d/filter_bank.py#L548

[2018-12-16 21:40] janden commented on #250
Ok. Are these solid harmonics if it's Gaussian * Y_lm? Wouldn't that be r^l * Y_lm?

[2018-12-16 21:41] lostanlen commented on #250
I'm fine with `HarmonicScattering3d`. In fact I'm fine with anything that does not have the name `Spiral` in it :p

[2018-12-16 21:41] janden commented on #245
Ok.

[2018-12-16 21:57] eickenberg commented on #250
Yes, that, sorry.

OH ....

That changes these filters to be not completely  low-pass anymore.

OK still. We are parking this thing in `HarmonicScattering3D` and will clean it up bit by bit. We will be starting from something that gives reasonable results on qm7, so we have a guideline/benchmark to work with.

[2018-12-16 22:26] #250 closed, assigned to nobody

[2018-12-16 22:33] lostanlen commented on #241
closed by #251. `Scattering3d` is now known as `HarmonicScattering3d`, so it's acceptable for it to have its own custom methods for spatial sampling. It's also a win for reproducibility to keep it, and incurs no loss of consistency now that it has a clearly separate class name

[2018-12-16 22:33] #241 closed

[2018-12-16 22:33] lostanlen commented on #239
closed by #251. Scattering3d is now known as HarmonicScattering3d, so it's acceptable for it to have its own custom methods for spatial sampling. It's also a win for reproducibility to keep it, and incurs no loss of consistency now that it has a clearly separate class name

[2018-12-16 22:33] #239 closed

[2018-12-17 01:52] #245 closed

[2018-12-17 02:02] janden opened #253 "Tests don't pass for skcuda backend"
Currently, two tests fail on the skcuda backend because they require CPU tensors. Specifically, we get
[code]

[2018-12-17 02:10] #253 closed

[2018-12-17 06:14] lostanlen commented on #248
closed by #246 and #247

[2018-12-17 06:14] #248 closed

[2018-12-17 07:00] edouardoyallon opened #255 "travis for 3.6 & 3.7"
Hi,

Currently travis is parametrized for 3.5, 3.6: https://travis-ci.org/kymatio/kymatio would be great to do it for 3.6, 3.7

E

[2018-12-17 09:18] AndreuxMath commented on #245
Any value of `Q` can be used as default I guess, as long as it is mentioned that this is an important parameter to change depending on data.

[2018-12-17 12:20] edouardoyallon opened #256 "typos in the README.md"
Why only 2D?

[2018-12-17 12:44] janden commented on #245
Ok good. Thank you!

[2018-12-17 12:46] janden commented on #256
Indeed. I ran `KYMATIO_BACKEND=skcuda pytest kymatio` yesterday and it's fine.

[2018-12-17 12:49] lostanlen commented on #256
Yes, #208 considerably simplifies the installation instructions. Feel free to rewrite without special-casing 2D

[2018-12-17 12:56] janden commented on #256
Also: do those lines actually work? That is, can we set the environment variables from within Python? I thought they had to be set from outside.

[2018-12-17 15:45] eickenberg opened #259 "MAINT+ENH Quality assurance via benchmarking"
Our codebase is prone to evolve quite a bit in the future. With every change, it is very easy to incur regressions in speed. Before making major refactorings, such as unifying backends across 1d, 2d, 3d, we need to have systematic benchmarking to check that we are not messing up.

This seems like a good framework with examples online:

https://asv.readthedocs.io/en/stable/

We already have benchma

[2018-12-17 15:56] eickenberg opened #260 "DOC order examples according to runtime + add options to sphinx-makefile to include or exclude"
- The sphinx gallery uses file name patterns in the example folder to decide whether to execute the example and recover the plots or not.
- These patterns are set in `conf.py`. Currently the pattern is that everything starting in `plot_` is executed, everything else is just displayed as code
- It is possible to override all `conf.py` configs in the command line args to the sphinx build script.
- W

[2018-12-17 16:03] eickenberg opened #261 "ENH simple unifications"
Unifications that seem to be within easy reach are

- **complex magnitude computation:** This is a pointwise operation that doesn't care about the shape of the array
- **nd-fourier:** with an `fftn` type operation, it should be possible to unify fourier by simply specifying the axes that we want the transform to happen on for each different package
- ~~**subsampling:** as long as we are talking ab

[2018-12-17 16:08] eickenberg opened #262 "ENH 3D gabor scattering"
To complete the pattern.

I have code for nd-gabors. Ask me for it.

Writing this transformer should be done with the birds-eye perspective after having done some preliminary work on unification

[2018-12-17 16:09] eickenberg opened #263 "REF+ENH improve 3D solid harmonic scattering code"
Currently this code populates lists with partial computation results. It should write things to preallocated arrays.

However, given potential new backends, it should also be checked whether such in-place assignment can support gradients in all potential backends

[2018-12-17 16:11] eickenberg opened #264 "ENH tf backend"
Can we make a backend using tensorflow or tensorflow eager mode?

This attempt might inform how we can create a useful, better backend structure

[2018-12-17 16:22] janden opened #265 "TST Improve test coverage"
Currently, it's ok, but it can be a lot better. One thing to try, as well, would be something like [coveralls](https://coveralls.io/) to keep track.

[2018-12-17 16:23] eickenberg opened #266 "ENH+REF backend logistics + mechanics"
Currently, our backend structure is set up at import and cannot be changed after import. This is because at import, the `backend/__init__.py` checks which backend is being used, and just imports `*` from the corresponding backend file. This is then fixed for the whole runtime.

Ways of implementing backends: It's basically about when the decision is made:
- at install
- at import
- at instantiatio

[2018-12-17 16:28] eickenberg opened #267 "ENH+TST find a way of testing GPU code"
With not too much investment in 💲 💰  it should be possible to set up a `jenkins` testing suite on amazon aws: The idea is to have a micro machine that costs 1c/h run the jenkins server. When tests should be run, this should somehow spawn a couple of GPU machines with different GPUs, ideally as spot instances, run the tests and then shut them down again.
I looked into this at the very beginning of

[2018-12-17 16:30] janden commented on #266
Agreed.

I don't understand. What's "each piece"?

So this includes any operation done on a tensor (FFT, mult, subsample, etc., but also shape, reshape, and so on?), since this may be done differently in PyTorch, skcuda, TF, etc. Correct?

I don't quite follow. If the wrong format is received, should it raise an error or convert? Those are two very different scenarios. Should it convert only in ce

[2018-12-17 16:32] janden commented on #267
Is there not some way to do this locally? We all have access to GPUs. It would be infinitely cheaper!

[2018-12-17 16:34] eickenberg commented on #267
Definitely -- `jenkins` can be set up anywhere

[2018-12-17 16:35] janden commented on #267
Ok. I know people have used that here. Will ask.

[2018-12-17 16:42] eickenberg commented on #266
I was thinking: `convolution`, `nonlinearity/modulus/magnitude`, `downsampling`

Maybe there are a few other operations like that. The basic ingredients basically

Indeed. Most frameworks behave OK, but they all have their quirks. The quirks would need to be ironed out by confining the quirky part to the backend, defining a function there with the correct name, and importing it.

The numpy convent

[2018-12-17 16:49] eickenberg opened #268 "ENH output structure/coefficient ordering"
Some different conceivable output shapes for e.g. 2D are

- `(B, everything, h, w)` - this is good for using scattering as a feature extractor for feeding into deep nets
- `(B, J1, L1, h, w) + (B, J1J2mess, L1, L2, h, w)` (could be views on a contiguous array) - good for having a handle on what is what coefficient

There are two questions:
1. How is the output organized in memory
     - we can int

[2018-12-17 19:47] janden opened #269 "DOC Clarify README intro"
Right now, we don't really say what a wavelet scattering transform is. One sentence describing it would be good.

Also, it would be good to have some sort of picture. This could be a general schematic of the scattering transform, or maybe pictures of wavelets in 1D, 2D, and 3D?

[2018-12-17 19:51] janden opened #270 "DOC Clarify benchmarks"
Some context would be nice for the benchmarks. For example, what does the input size correspond to (e.g., in audio, 65536 at 44.1 kHz is about 1.5 seconds, so 64 of them is about 90 seconds of audio). We should also specify what values for `J`, `Q`, etc. that are used. In the end, we want users to understand these numbers not only in how they compare to previous implementations, but also more gene

[2018-12-17 21:20] eickenberg opened #271 "DOC quickstart instructions don't show pip command correctly on website"
@edouardoyallon

![image](https://user-images.githubusercontent.com/1306635/50116255-f5219e00-0249-11e9-90c3-ee1330124b56.png)

[2018-12-18 14:57] janden opened #273 "DOC 3D benchmarks"
Currently none are listed in the user's guide. We should probably include something here.

[2018-12-18 19:14] lostanlen commented on #265
This issue is a bit vague. I would suggest we consider it closed once Coveralls is up. And then reopen some issues for certain files that have very low covrage. Otherwise this issue will always remain open / seem out of reach.

[2018-12-18 19:21] lostanlen commented on #268
Yes. In a broader sense, there is a question of stability of the output with respect to custom parameters of Kymatio, either at "compile time" (Kymatio constructor) or "run time" (forward of the network).
The different levels of stability are:
1. same sizes, different values
2. same number of dimensions, different sizes
3. same Tensor type, different number of dimensions
4. different return type,

[2018-12-19 01:10] janden commented on #265
Of course. I just want a place to organize these ideas and set up a plan of attack.

[2018-12-20 17:17] eickenberg opened #277 "ENH scikit-learn-compatible transformer"
Add a mixin or wrapper that can use the scattering transform in the context of sklearn:

- Instantiate transformer with image shape
- images are provided as `X`, probably raveled, `X.shape = n_samples, n_features`
- output is also raveled, so that it can go to the next part of a pipeline

[2018-12-21 07:16] jainszhang opened #278 "RuntimeError: fft: ATen not compiled with MKL support"
when I run the examples , output like this:
Sx = scat(x)
  File "/Users/jains/anaconda2/envs/python36/lib/python3.6/site-packages/kymatio-0.1.0.dev0-py3.6.egg/kymatio/scattering2d/scattering2d.py", line 234, in __call__
  File "/Users/jains/anaconda2/envs/python36/lib/python3.6/site-packages/kymatio-0.1.0.dev0-py3.6.egg/kymatio/scattering2d/scattering2d.py", line 188, in forward
  File "/Users/jai

[2018-12-21 07:18] jainszhang commented on #278
My os is Macos.

[2018-12-21 08:55] eickenberg commented on #278
Thanks for your report!

How did you install pytorch? The conda install from the website is the
easiest to get it to work because anaconda ships with mkl by default. If
you install numpy before pytorch, then you should have it.

In your file path I see it says "anaconda2" - is that because it's a
duplicate of another anaconda or because the install is the python 2.7-
based one, with py36 installed

[2018-12-21 13:16] eickenberg commented on #278
Which example did you use actually?

The line that you are citing does not exist in the current codebase.

[2018-12-21 17:10] janden commented on #278
Could be related to this:

https://github.com/cornellius-gp/gpytorch/issues/194

Seems like doing the conda install or compiling pytorch from source may be the way to go.

[2018-12-24 11:52] lostanlen opened #279 "Scattering2D docstring contains an outdated example"
See
https://github.com/kymatio/kymatio/blob/master/kymatio/scattering2d/scattering2d.py#L37

[code]

The constructor should read as `Scattering2D(J, shape=(M, N))`

[2018-12-25 12:06] lostanlen commented on #256
closed by #258

[2018-12-25 12:06] #256 closed

[2019-01-03 12:07] edouardoyallon opened #281 "DOC reference of the paper"
- [x] Adding the arxiv reference in the README.md
- [x] Adding the arxiv reference in the doc

[2019-01-03 16:55] janden commented on #278
@jainszhang Does this solve your problem?

[2019-01-06 09:54] Jonas1312 opened #282 "Visualization of Scattering Coefficients"
Hi,

First I would like to thank you for the work you have done on Kymatio, really helpful 👍

I would like to visualize scattering coefficients like that for example (first and second orders):
![capture](https://user-images.githubusercontent.com/15847892/50734540-e96a2d00-11a0-11e9-9364-2ee9c6fff56d.JPG)

Do you know if there is an easy way to do that with Kymatio Scattering2D output?

Thank you!

[2019-01-06 15:30] lostanlen commented on #282
Dear Jonas,
Thank you for your interest in Kymatio.
The short answer is no: there is no built-in function in Kymatio which allows to replicate subfigures (c) and (d) from the figure above. This figure was done with the MATLAB library ScatNet. Although the development of ScatNet has now been discontinued, you can still use it if all you need is the visualization.
That said, I will personally add th

[2019-01-06 15:34] edouardoyallon commented on #282
Hi Jonas, Vincent,
I agree with Vincent that the priority is not to develop this feature and that this type of visualization has to intrinsic issues, however, I'm not against adding it in a future release. Feel free to propose a PR, my guess is that we'd be happy to add it to a next release, in order to be consistent with formers papers! What do you think @joanbruna?

[2019-01-06 15:51] eugenium commented on #282
Just to chime in, forgetting the visualizations with theta2 an j, I think just having some simple utility that automatically extracts the first and second order coefficients in a structured way from the current monolithic output would go along way.  It should be quite simple for someone after to make a visualization like that.

[2019-01-08 20:42] janden opened #283 "DOC Add source install instructions to README"
If someone wants to install it from the tarball directly, we should have the instructions in the README so they don't have to hunt it down in the documentation.

[2019-01-10 12:07] Jonas1312 commented on #282
Thanks for your answers 👍

I will try to write a script that generates this type of visualization from Kymatio computed coefficients when I have some time. But as @eugenium said it would be really useful to have another structured way to retrieve coefficients from Scattering2D (same issue #268)

[2019-01-12 15:12] Jonas1312 opened #284 "Scattering2D doesn't work if 2**J == image_size"
Hi,

I would like to use Scattering2D with `2**J == img_size` in order to get a (1, K, 1, 1) tensor with K scattering coefficients. However, when I run this script https://gist.github.com/Jonas1312/a0a03c9d3a5307f13ba32348ad8eed5b#file-main-py I get the following error (input image 64x64):

[code]

Thanks

[2019-01-14 15:31] janden opened #285 "DOC Add "how to cite" section"
Preferably both in readme and documentation.

[2019-01-14 15:59] janden opened #286 "DOC Illustrative figure"
Branched off from #269.

It would be good to have some sort of picture. This could be a general schematic of the scattering transform, or maybe pictures of wavelets in 1D, 2D, and 3D?

[2019-01-14 16:00] janden commented on #269
Branched off the figure issue into #286.

[2019-01-14 16:28] janden opened #287 "BUG 3D benchmark fails on GPU"
It doesn't call the `cuda()` function (now required) when giving a CUDA tensor input, so the scattering transform errors.

[2019-01-14 16:47] #287 closed

[2019-01-14 19:13] janden opened #290 "TST Codecov isn't reporting coverage right"
For example, it says that no lines in `scattering1d.py` are ever run:

https://codecov.io/gh/kymatio/kymatio/src/master/kymatio/scattering1d/scattering1d.py

In fact, the only code it claims runs are the test functions. Is there some issue with how we're importing the classes that are preventing the code from being registered as run?

[2019-01-14 19:59] lostanlen commented on #286
Yes, a figure would be great. I would prefer a schema of the scattering transform rather than simply pictures of wavelets, because Kymatio is more than a library for wavelet transforms.

This is the one I've been using for many years to describe 1-D scattering. I think Stéphane uses it too now.
If it weren't for the awful jet colormap ... and the Greek letters "gamma", "gamma-2" ... it would do th

[2019-01-14 20:55] eugenium commented on #284
Hi Jonas, we'll have to discuss a bit internally if we will cover this case. However, you can work around this for now by just padding the input image.

[2019-01-14 21:03] janden commented on #286
I like this one, and I think we ultimately want to go with something like this, but:

1) `jet` is awful, as you say,
2) it uses different notation, as you also say,
3) it's a little busy and needs to be cleaned up, and,
4) most importantly, it's for 1D.

I'm as much of a 1D partisan as the next guy, but the (unfortunate) fact is that most people who use scattering use it for 2D. Those people will

[2019-01-15 00:14] lostanlen commented on #278
Hello @jainszhang, your problem probably goes up to an issue in PyTorch installation. We recommend installing with PyTorch and Kymatio through Anaconda, as noted in the link that @janden shared.

I am closing this because we cannot reproduce the issue, and you haven't replied in the past three weeks. Feel free to reopen this if the bug persists.

[2019-01-15 00:14] #278 closed

[2019-01-15 03:40] #290 closed

[2019-01-15 04:22] janden opened #292 "BUG 1D scattering does not respect `max_order`"
Specifically, if we set `max_order = 1`, it creates the same size output as for `max_order = 2`, but fills the remaining elements with zero.

[2019-01-15 08:01] jainszhang commented on #278
I haven't read the mail in a long time, I am so sorry😫. I know my problem, you can close my question. And thank you very ... much.

[2019-01-15 13:03] janden opened #294 "BUG Encoding issues"
I'm getting encoding issues when trying to build the docs (on my laptop [Ubuntu], but not on my desktop [CentOS]). Looks like the reason is that someone has accents in their name...

One solution would be to explicitly define the source files to be UTF-8 (which they are, from what I understand). Another would be to remove the accents.

[2019-01-15 15:02] #292 closed

[2019-01-15 16:35] janden opened #296 "BUG skcuda `subsample_fourier` crashes on non-complex inputs"
As a result, things like
[code]
crash instead of giving the proper `TypeError`.

[2019-01-15 16:36] janden opened #297 "ENH torch backend does not error for non-complex inputs"
This is what the skcuda backend does, so we should be consistent.

[2019-01-15 17:03] janden opened #300 "TST `backward` for complex modulus is not tested"
Specifically, codecov reports that [lines 90-105](https://github.com/kymatio/kymatio/blob/master/kymatio/scattering1d/backend/backend_torch.py#L90) of `backend_torch.py` are [never executed](https://codecov.io/gh/kymatio/kymatio/src/master/kymatio/scattering1d/backend/backend_torch.py#L90). This is odd because we specifically test the `backward` function in the [corresponding test](https://github.

[2019-01-16 06:38] strawberry1996 opened #301 "I want to use the wavelet scattering to fusion image, but I don't know how can I inverse transformation after fusion"
I want to use the wavelet scattering to fusion image, but I don't know how can I inverse transformation after fusion @

[2019-01-16 06:43] lostanlen commented on #301
Hello! Welcome to Kymatio. It's unclear what you're asking. Could you please explain what you mean by fusion and inverse transformation?

[2019-01-16 06:47] lostanlen commented on #294
Right, I think that the necessary header is

[code]

[2019-01-16 07:39] strawberry1996 commented on #301
Thanks for your response,  I use wavelet to fusion the image before
The algorithm of image fusion using DWT described in the following steps
1. Size of inputs images:
Given a two dimensional images (example, image A, image B) it is necessary to convert it into the same size a power of two square forms.
2. Computation of two dimensions DWT:
In this step, the two dimensional Discrete Wavelet Transfo

[2019-01-16 16:53] janden commented on #294
Yes, but for one (two?) stinking accents in two files (`scattering1d.py` and `setup.py`)? For `setup.py`, sure, since that exports to PyPI, but for the rest, it seems overkill.

I suggest removing accents in `scattering1d.py` and adding the encoding to `setup.py`.

[2019-01-16 16:54] janden commented on #294
To clarify, "overkill" because if we do it to `scattering1d.py`, we should be consistent and have it in all source files. `setup.py` is "different" enough that we can have a different format for it.

[2019-01-16 18:52] nshervt opened #303 "BUG scattering3d_qm7.py"
It seems that line 180 should be modified as follows:
Current:
order_0, order_1, order_2 = [], [], []
Should be:
order_0, orders_1_and_2 = [], []

[2019-01-16 18:57] lostanlen commented on #303
Upon checking, you are right:
https://github.com/kymatio/kymatio/blob/master/examples/3d/scattering3d_qm7.py#L180

Could you please open a PR?

[2019-01-16 19:10] nshervt commented on #303
Done.

[2019-01-16 19:32] eickenberg opened #305 "ENH overlap-add convolutions"
I think this is standard practice for 1D signals, because they often have to deal with very long signals wrt filter size, but this can be applied across the board: Imagine a very big 2D image, or, more realistically, a 3D array which is actually a video of 2D frames which you want to analyze with spatiotemporal gabors. This will require overlap-add in the time axis.

So the general setup might be

[2019-01-16 19:39] lostanlen commented on #305
Yes. This is something that is available in scattering.m for example and it's really useful

[2019-01-16 19:41] ethiy opened #306 "Padding size problem"
I was trying the Scattering2D on my data and it did not work. I had this error message:

While debugging, I found out that the padding does not work well with some input shapes. Here is a minimal example:

[code]

I have tried other matrix shapes and it seems that the `U_0_c` size, in axis `d=2,3`, is equal to the size of `Phi[0]`, in axis `d-2`, plus the rest of the Euclidian division of the orig

[2019-01-16 19:47] edouardoyallon commented on #306
Thanks for pointing this out. My bad. The padding process has some issues.

Duplicate of #284

[2019-01-16 20:10] janden commented on #305
The other potential advantage here, from what I understand, is that it may give us a way to compute filters independent of image size, since we're storing them in the spatial/time domain.

[2019-01-16 20:21] janden opened #307 "BUG `scattering3d_qm7.py` crashes on GPU"
The input is on the GPU, but the scattering object has not been put in GPU mode, see https://github.com/kymatio/kymatio/blob/master/examples/3d/scattering3d_qm7.py#L212.

[2019-01-17 00:35] lostanlen commented on #261
Yes, this is a good idea. I may be able to devote some time to this.
 @eickenberg I don't understand the filesystem structure you outlined
`kymatio/backend_common/complex.py`
`kymatio/backend_common/fourier.py`
`kymatio/backend_common/sampling.py` ?
Or something else?

[2019-01-17 00:43] eickenberg commented on #261
That looks good and could work well I think. It depends on how much code we'll end up with. It could easily evolve from a `backend_common/backend_pytorch.py` to a file structure like the one you outlined (`backend_pytorch_fourier.py` etc). Or start there immediately. We might want to add the actual backend names as folders, instead of this sort of infix.

[2019-01-17 15:10] janden opened #309 "Ill-conditioning in `scattering3d_qm7.py`"
When running this, I get
[code]
Seems like `alpha = 1.0` is a bad idea? Why do we have this in here?

[2019-01-17 15:18] #296 closed

[2019-01-17 15:18] #297 closed

[2019-01-17 15:55] #273 closed

[2019-01-17 15:55] #283 closed

[2019-01-17 17:16] edouardoyallon commented on #281
@janden no reference of the paper in the doc?

[2019-01-17 17:58] eickenberg commented on #309
Hm so in terms of accuracy `alpha=1` is certainly a bad idea since it introduces too much unnecessary bias. I'm surprised it would do badly on the Ridge regression if the lower penalties, e.g. 1e-5 don't (it should be them that emit this error -- is the above error related to alpha=1 or could it be related to the other ones?).

Apart from that, giving the Ridge object a different solver to use sho

[2019-01-17 18:18] janden commented on #281
It's in the user guide:

https://github.com/kymatio/kymatio/blob/master/doc/source/userguide.rst

[2019-01-17 18:19] #281 closed

[2019-01-17 18:19] janden commented on #309
Not sure, actually. Here's the full output:
[code]

[2019-01-17 18:19] #279 closed

[2019-01-17 18:21] #269 closed

[2019-01-17 18:21] #270 closed

[2019-01-17 18:39] #303 closed

[2019-01-18 14:42] edouardoyallon commented on #261
Hey, one more thing that could make sens is to use some OOP: one could make a class parent that implements common routines and provide the minimal environment to deploy other versions of the scattering, such as: 3D-gabor scattering, roto-translation scattering, roto-translation-separable scattering, harmonic phase scattering, video scattering, ..

For instance, .cuda(), .cpu(), forward(), J, meta,

[2019-01-18 15:58] f0k opened #314 "Unused 2D Psi filters"
The generated 2D filterbank includes filters that are not used in the computation.

Let's create a scattering transform:
[code]

Let's look at the shapes of the generated filters:
[code]

The 20x20 filters are all unused. Demonstration:
[code]

They should probably not be part of the filterbank in the first place?

[2019-01-18 17:26] lostanlen commented on #314
Can you try the same with `J=3` or `J=4`?

[2019-01-18 17:28] janden commented on #314
@f0k Thank you for bringing this up. You're right, those filters should not have been created.

@lostanlen, I think the issue here is that the lowest-resolution filters are never used. So for `J=3`, it creates the `2`-resolution filters which are never used. It's an off-by-one.

[2019-01-18 17:29] lostanlen commented on #314
Yes, I was thinking the same thing. It looks more like an off-by-one overestimation than a missed conditional branch.

[2019-01-18 17:31] lostanlen commented on #301
Putting this into action does not require any change to the core of Kymatio, so I propose that we consider to close this issue, on the ground that the question of the OP has been answered.

@strawberry1996 Feel free to experiment with this on your own and please keep me updated about your progress.

[2019-01-18 17:58] lostanlen commented on #282
@Jonas1312 sounds good, do keep us posted about that! I would advise to make a separate repository for this visualization. Although it's true that Kymatio 0.1-beta does not output coefficients in a structured way but in a "raveled" (1D) way, it should be relatively easy for you to reverse-engineer that raveling process, and come up with a (theta1, j1, theta2, j2) tuple for every index in the featu

[2019-01-19 07:46] strawberry1996 commented on #301
@lostanlen @eugenium
I have tried it with the way which you tell me, but the result looks so terrible. I call the decode function of the reconstruction_exp.py. but it can't recovery the image. I think maybe I'm calling this function the wrong way. Could you help me to check it? Thanks very much. This is my call function:
 import os
import scipy

os.environ['CUDA_VISIBLE_DEVICES'] = "5"
import nump

[2019-01-19 07:58] strawberry1996 commented on #301
OK, Thanks very much
----- 原始邮件 -----
发件人：Vincent Lostanlen <notifications@github.com>
收件人：kymatio/kymatio <kymatio@noreply.github.com>
抄送人：strawberry邓泽宇 <dengzeyu1996@sina.com>,  Mention <mention@noreply.github.com>
主题：Re: [kymatio/kymatio] I want to use the wavelet scattering to fusion image, but I don't know how can I inverse transformation after fusion (#301)
日期：2019年01月19日 01点31分

Putting thi

[2019-01-19 08:02] eugenium commented on #301
You might want to try to increase the nubmer of iterations and potentially experiment with the learning rate in case that is the issue. It might however be just smoething with the scaling of the output or channel order.
Note that file also has a deprocess_img() function that might be helpful, you might want to try something like this

`
imgs = encoder.deprocess_img(im3)
imgs = imgs.clip(0, 1)
`

W

[2019-01-19 09:52] Jonas1312 commented on #282
@lostanlen Yes of course I still plan to do that!
But I'm struggling with #284 even if I pad the input image manually... I haven't had time to solve this problem yet so I'll wait until this bug is fixed

[2019-01-20 01:17] strawberry1996 commented on #301
@eugenium  Hello, I want to know how to implement scattering inverse transform in decode function of the reconstruction_exp.py. I find that you through compute the loss between original image and reconstructed image to inverse transform. but I can't understand this "S_reconstructed = scattering(reconstructed, self.Psi, self.Phi, self.J)" , why are you get reconstructed image through the scattering

[2019-01-20 01:34] eugenium commented on #301
reconstructed is the variable which is optimized over.  It's initialized randomly and then the following problem is solved:
\argmin_{reconstructed} || scattering(reconstructed) - S_imgs||_1

[2019-01-20 02:43] strawberry1996 commented on #301
@eugenium it is my understanding that randomly generate a variable, then use the variable to scattering.  then we use the scattering result and S_imgs to compute the loss.

[2019-01-21 13:51] lostanlen commented on #301
@strawberry1996 related: #268
For the moment you have to look at the code, or try it out on a Dirac if you want to be sure empirically.

I suggest to close this issue. It is neither a feature request nor a bug report, but rather an open-ended research question about whether a certain computational pipeline (in this case, image fusion) can be developed with Kymatio. eugenium and eickenberg have rep

[2019-01-21 21:37] #314 closed

[2019-01-22 00:32] strawberry1996 commented on #301
Thank you for your patience these days，I think I misunderstood the Issue's purpose. I'll take a hard look at the code. I'm sorry to bother you (。・＿・。)

[2019-01-22 10:35] janden opened #318 "Python 2.7 compatibility?"
This is something that may simplify adoption in certain environments. Obviously, making this work is not a trivial amount of effort, so we need to have a discussion on the pros and cons.

[2019-01-22 10:37] janden commented on #318
Continuation of discussion in #317.

[2019-01-22 12:46] f0k commented on #318
Do we know more about this? `setup.py` uses some Python3-specific features, but 2d scattering should work with `from __future__ import division` in `filter_bank.py`.

[2019-01-22 12:50] janden commented on #318
Well that and `print` statements, but that should be a similar import. Otherwise, I don't know that we're using much in the way of 3.X features, you're right.

I think the larger question is future plans and whether this will hamper flexibility in implementing them. But, as you mention, there's no reason we can't drop 2.7 support if it comes to that.

[2019-01-22 13:05] janden opened #319 "Non-Anaconda testing"
Currently, all CI scripts run through Anaconda. Given that this is not the only way to run Kymatio (supposedly), should we test in other environments as well (i.e., `pip`)?

[2019-01-22 14:49] f0k commented on #318
Indeed, it's `from future import print_function`.

If there are immediate plans that will require dropping 2.7 support, then we shouldn't invest on enabling it. Otherwise it wouldn't hurt.

I'm still familiar with Python 2/3 idioms, I can take care of that, so the main obstacle seems to be the current solution for version parsing in `setup.py`. We can use `imp` for Python 2, or just parse it as a

[2019-01-22 21:36] lostanlen commented on #318
my 2c is that supporting py2.7 is overzealous. 2019 is precisely the year where numpy has stopped supporting py27 in minor releases (new features), and 2020 will be the one in which numpy will stop attending bugs in py27-compatible code

[2019-01-22 21:37] #301 closed

[2019-01-22 23:10] janden commented on #318
On the one hand, if it's not too much work, why not? On the other, do we want to spend any time supporting technology that is supposed to be EOL right about now?

I guess it comes down to what fraction of the potential userbase is still 2.7-only? Any estimates here?

[2019-01-23 08:06] edouardoyallon opened #321 "ENH Haar, Cauchy, ... wavelets"
It would be great to propose several sets of wavelets. Gabor are real in fourier, thus adding Haar wavelets (despite being simple and having a different structure) could make a lot of sens w.r.t. the current implementation. Cauchy wavelets are also a natural candidate.

[2019-01-23 13:44] rleonarduzzi commented on #321
I agree, and I can do this. I have an almost read patch with battle-lemarie and bump-steerable wavelets for 1d that hopefully I'll commit soon. I can add Haar, Cauchy and others.

[2019-01-23 13:50] edouardoyallon commented on #321
Awesome! This will be a great feature.

[2019-01-23 15:15] lostanlen commented on #321
I would prefer to make it in two stages: first, an API change, and then a feature enhancement
otherwise this issue is never going to be closed, given how many possibilities there are
one important element in the discussion is that some wavelets are better suited for FFT-based convolutions whereas others (like Haar) are better suited to spatial convolutions
wouldn't it be a little bit strange (and

[2019-01-23 15:24] edouardoyallon commented on #321
that's ok, spatial convolutions will be a future feature but I thinkdoing everything in fourier is more than fine

[2019-01-23 15:34] lostanlen commented on #321
As you prefer. It would be good to delimit the scope of this issue then: what belongs to v0.2, v0.3, and v1.0
This is a feature request so it cannot go into Kymatio v0.1

[2019-01-23 17:32] janden commented on #321
The thing to keep in mind here is whether these other wavelets would be useful for some specific purpose. Remember that every line we add has to be maintained. I could see Haar and spline wavelets being very useful once we get spatial convolutions, for example, but am less sure about Cauchy.

[2019-01-23 19:10] f0k opened #322 "REF Create 2D filterbank in spectral domain"
The 2D Morlet/Gabor filterbank is currently created in the spatial domain and transformed to the spectral domain afterwards. It would be cleaner to construct it in the spectral domain from the start (also to ensure that the imaginary part is really zero).

[2019-01-23 19:20] janden opened #323 "ENH Remove PyTorch tensors from 2D filter bank generation"
Following discussion in #320, we should keep the filter bank generation code in NumPy, only converting to PyTorch inside the `Scattering` classes. This will help us to become backend-agnostic later on.

[2019-01-23 19:22] edouardoyallon commented on #322
So: I think this is a great idea yet rather difficult due to some border effects...

[2019-01-23 19:32] edouardoyallon commented on #322
@janden https://github.com/scatnet/scatnet/blob/master/filters/morlet_filter_bank_2d.m#L113

It's done in space! Some issues that come to my mind: the filters do not really vanishes for high frequencies; periodization issues for lower resolution(higher scales)

[2019-01-23 19:39] janden commented on #322
Huh.. Ok so maybe just forcing the imaginary part to zero is the way to go then?

[2019-01-24 10:47] f0k commented on #322
Ah, interesting, so scatnet already dropped the real part in the line that you mentioned. (Side note: It's risky to refer to line numbers in `master`, in general it's better to replace `master` with the first 7 characters of the commit id so the conversation still makes sense later.)

Ok... shall we still leave this up for future work or close it because nobody will ever do it?

[2019-01-24 16:25] lostanlen commented on #322
@f0k we need to evaluate what will be the benefits of this before diving in. And then think of an API to act upon it.

FWIW here is the inheritance pattern I had designed in `WaveletScattering.jl` (Julia code)

**GROUPS**
[code]

**DOMAINS**
[code]

**WAVELET CLASSES**
[code]

**FILTER BANK SPECIFICATIONS** (immutable)
[code]

**FILTER BANK BEHAVIORS** (mutable)
[code]

**FILTER BANKS**
[code]

[2019-01-24 16:42] lostanlen commented on #321
Yes. This message in #322 describes how I did it in Julia. It ended up being very little code per wavelet, and was highly extensible. But I had to implement boolean traits regarding dyadicity and steerability of wavelets, as well as whether they were available in spatial domain, or Fourier domain, or both.

https://github.com/kymatio/kymatio/issues/322#issuecomment-457260599

[2019-01-24 18:42] eickenberg commented on #322
fyi for 3d creating filters in spectral domain is already implemented and used

https://github.com/kymatio/kymatio/blob/master/kymatio/scattering3d/filter_bank.py#L155

and this is even for filters that are inherently complex, also in fourier space

[2019-01-24 18:49] edouardoyallon commented on #322
AFAIR, there is no boundary issues because the convolutions are periodic, am I correct?

[2019-01-24 19:46] eickenberg commented on #322
There would be interesting settings in which this is true, but the work that this transform was created for does not work with periodic signals/convolutions. We pad a lot

[2019-01-27 08:57] Jonas1312 commented on #282
I have almost finished the script https://gist.github.com/d897f9c7a5d4c7c857456588089e4ed2
For now the generated visualization doesn't seem to match the one from the paper:

Output from ScatNet:
![capture](https://user-images.githubusercontent.com/15847892/51798759-1cd82e80-2218-11e9-858f-a128eb8a0b13.JPG)
From my script (same input image taken from the paper with a screenshot, resized to 32x32 pi

[2019-01-28 12:20] edouardoyallon commented on #282
hi @Jonas1312 , thanks a lot. Do you think it's possible that you include this script as an example in: https://github.com/kymatio/kymatio/tree/master/examples/2d

You will need to follow the guidelines of https://github.com/kymatio/kymatio#building-the-documentation-from-source to compile the documentation (that basically creates html pages), and try to make the presentation of it pretty.

Thanks

[2019-01-30 08:51] Jonas1312 commented on #282
Sorry for closing and reopening, bad move 🙇

I'll write a pull request when I have time, but right know the code is not finished I think there are few things to fix. As written in my comment above, with the same input image the generated visualization is not exactly the same as the one in the paper.

If we want the exact same visualization I'm going to need the original scatnet script otherwise it

[2019-02-01 20:53] janden commented on #319
For what it's worth, I'm able to get it running using `pipenv`:
[code]
Do we think this makes enough of a difference for testing purposes to add another CI script?

[2019-02-01 21:48] janden opened #326 "Unused `fftshift` option"
In the `gabor_2d` function, we have an [`fftshift` argument](https://github.com/kymatio/kymatio/blob/02f31a7824011ef7c7c1145342473d32a1133b51/kymatio/scattering2d/filter_bank.py#L196) that is never used. Is there a reason for keeping this?

[2019-02-02 11:01] edouardoyallon commented on #128
Linked to https://github.com/kymatio/kymatio/issues/261

[2019-02-02 12:20] sixin-zh commented on #128
The following cdgmm code supports the backward on GPU, it can be used in backend_skcuda.py

class cdgmmMul(Function):
    @staticmethod
    def forward(ctx, A, B):
        """
        Complex pointwise multiplication between (batched) tensor A and tensor B.

        Parameters
        ----------
        A : tensor
            input tensor with size (B, C, M, N, 2)
        B : tensor
            B

[2019-02-04 15:25] janden commented on #128
Hi @sixin-zh. Thank you for this code! The easiest way to integrate this into the repository would be for you to submit it as a pull request (PR). To do this, you would first create a new branch from the current master, add the new code, commit, and push the branch to your repository. When you go onto the GitHub website afterwards, the branch should have a button "New Pull Request" that you can pu

[2019-02-05 18:47] janden commented on #128
Sure. It's just the code that's in [this commit](https://github.com/sixin-zh/kymatio/commit/edc3b46b32fb07f9f3698bcb73ec852a16ef2df7), right?

[2019-02-05 18:50] sixin-zh commented on #128
Yes, it is.

[2019-02-05 19:22] janden commented on #128
Ok. So the new code doesn't support in-place multiplication. Is there some underlying reason for this? I can try to make it work or have it throw an error if you try to do in-place multiplication with the skcuda backend.

[2019-02-05 19:35] edouardoyallon commented on #128
@janden there is no specific reason it doesn't support it. I'll review it when I'll get a chance to have some time..

[2019-02-05 19:36] janden commented on #128
Ok. Will make it raise an error for now.

[2019-02-05 19:47] janden commented on #128
@sixin-zh, I took your commit and added it to a branch on my repository:

https://github.com/janden/kymatio/tree/diff_skcuda_2d

I then made some more changes to integrate the new code into the standard `cdgmm` function:

https://github.com/janden/kymatio/commit/6df832a08369c1233e6e8edf9902dbaed1ad1e39

Using this branch, I then opened a pull request (PR) on the main repository:

https://github.co

[2019-02-05 19:59] sixin-zh commented on #128
I have not thought about how to support inplace, you can try to make it work if needed.

[2019-02-06 20:51] janden commented on #128
@sixin-zh I've added a basic test for differentiability of `cdgmm` to #327, but it fails for the new skcuda backend. Could you take a look and see what's happening?

[2019-02-11 22:01] janden opened #330 "`SubsampleFourier` in skcuda crashes for certain inputs"
Specifically, the following crashes
[code]

[2019-02-11 22:02] edouardoyallon commented on #330
can you report the error message?(sorry currently no gpu)

[2019-02-11 22:03] janden commented on #330
Yes of course:
[code]
Goes away if you increase the third dimension or decrease the first dimension...

[2019-02-16 18:44] edouardoyallon opened #332 "BUG github logo of the website is broken"
Not sure what is the new graphic nomenclature to use..

[2019-02-16 21:50] #265 closed

[2019-02-16 21:54] janden opened #333 "Test for raised errors in `Scattering2D.forward`"
One `TypeError` and three `RuntimeError`s may be raised by `forward`, but are not currently tested. For example, see [here](https://codecov.io/gh/kymatio/kymatio/src/82f21ed11e9152cd234e63af96d48300210429a9/kymatio/scattering2d/scattering2d.py#L122).

[2019-02-16 21:57] janden opened #334 "Test for raised errors in torch backend"
Specifically, `fft` and `cdgmm` may raise `TypeError`s or `RuntimeError`s which are currently not tested. For example, see [here](https://codecov.io/gh/kymatio/kymatio/src/6e5c430d71a1562a93931eee0f568a9aba489220/kymatio/scattering2d/backend/backend_torch.py#L139).

[2019-02-16 21:59] janden opened #335 "`Pad` object in torch backend is not tested with `pre_pad = True`"
As a result, [this padding variant](https://codecov.io/gh/kymatio/kymatio/src/6e5c430d71a1562a93931eee0f568a9aba489220/kymatio/scattering2d/backend/backend_torch.py#L31) is not tested.

[2019-02-16 22:04] janden opened #336 "`fourier = False` is not tested for solid harmonic filters"
In particular, this option is not tested for the functions `gaussian_3d` or `solid_harmonic_3d`. For example, see [here](https://codecov.io/gh/kymatio/kymatio/src/6e5c430d71a1562a93931eee0f568a9aba489220/kymatio/scattering3d/filter_bank.py#L115).

[2019-02-16 22:06] janden opened #337 "Test for raised errors in `Scattering3D`"
In particular, `ValueError`s, `TypeErrors`s, and `RuntimeError`s may be raised by `_compute_scattering_coefs` and `_convolution_and_modulus`, but these are not tested for. For example, see [here](https://codecov.io/gh/kymatio/kymatio/src/6e5c430d71a1562a93931eee0f568a9aba489220/kymatio/scattering3d/scattering3d.py#L214).

[2019-02-16 22:23] janden opened #339 "Test for raised error and warnings in 3D torch backend"
Specifically, [`fft` may raise a `TypeError` for non-complex input](https://codecov.io/gh/kymatio/kymatio/src/6e5c430d71a1562a93931eee0f568a9aba489220/kymatio/scattering3d/backend/backend_torch.py#L48) and [`cdgmm3d` may issue a warning for non-contiguous arrays](https://codecov.io/gh/kymatio/kymatio/src/6e5c430d71a1562a93931eee0f568a9aba489220/kymatio/scattering3d/backend/backend_torch.py#L68). T

[2019-02-16 22:43] janden commented on #332
[This page](https://github.com/logos) seems to suggest you should download and host it yourself.

[2019-02-22 10:19] edouardoyallon commented on #326
good catch and I don't think it will be useful

[2019-02-22 10:21] edouardoyallon commented on #318
I'm against being py27 compatible thanks to the argument of vincent! If numpy doesn't, I don't think we should, even if it has no cost! I think this issue could be closed.

[2019-02-22 10:25] edouardoyallon commented on #319
I think it is worth to add. Can you add it?
Thanks!
Edouard

[2019-02-22 10:26] edouardoyallon commented on #267
Do we have some fundings for this? @janden @eugenium @eickenberg @louity

[2019-02-22 10:28] edouardoyallon commented on #322
I think it can be closed... let's focus on creating more filters!

[2019-02-22 10:28] #322 closed

[2019-02-22 10:35] edouardoyallon commented on #282
The following code, from http://www.cmap.polytechnique.fr/scattering/code/scattering_v2.tgz seems to generate this figure.

[code]

Do you think you can fix it and propose a PR? Thanks!

[2019-02-22 10:38] edouardoyallon commented on #268
I think (3) is great, and if:
(B1,B2,..,Bk,M,N) is a batch of size (B1,...,Bk) with images of size (M,N), then I believe it should return a tensor of size:
(B1,B2,...,Bk,J1J2mess,M,N)

Do you agree? How should we input the order of J1J2mess? I think it would be worth to fix this.

[2019-02-22 10:46] f0k commented on #318
I don't have a strong opinion on this. Python 2.7 will be around for a while even if numpy stops fixing 2.7-related bugs in 2020, but more and more research code uses Python 3.

[2019-02-22 13:16] edouardoyallon commented on #286
Hey. This is a great image. I think displaying 2D wavelet transforms would be confusing as well. @janden @lostanlen let's include this somewhere? Need first to reduce the size of this pdf!

[2019-02-22 13:17] edouardoyallon commented on #321
@rleonarduzzi where are we?

[2019-02-22 13:42] edouardoyallon commented on #261
Let's forget about OOP (we discussed it with michael). So, if this sounds OK, I'd like to do this via several progressive PR. I think the best feature to share, in a first step, is CDGMM as it's literally the same kernel for 1-2-3 D.

[2019-02-22 14:28] edouardoyallon commented on #334
I'd be happy to raise them if you explain me how to do or give me a snapshot of code!

[2019-02-22 20:54] #332 closed

[2019-02-22 20:56] #326 closed

[2019-02-22 21:02] janden commented on #267
Haven't had time to look into this yet.

[2019-02-22 21:07] janden commented on #318
As of October, 2018, we're talking 16% according to the PSF survey:

https://www.jetbrains.com/research/python-developers-survey-2018/#pyversions_2

In "Data Science", that drops to 10%. I suggest we stay with py35 and close this issue.

[2019-02-22 21:09] janden commented on #286
@edouardoyallon So you want to stick with 1D? Ok. I still think we would need to remake the figure with the correct notation, etc. That way, we can also make sure that things are properly rasterized and avoid the huge size.

[2019-02-22 21:10] janden commented on #261
Agreed on `cdgmm`. `Modulus` is up there, too.

[2019-02-22 21:14] janden commented on #323
Same issue occurs in 1D and 3D.

[2019-02-22 21:19] janden commented on #334
The key methods are `pytest.raises` and `pytest.warns`. They're context managers that catch errors and warnings in the executed code. Some docs are [here](https://docs.pytest.org/en/latest/assert.html). An example of how this is done in the 1D code is found in bd5bc8e98af4f027e371f4918c43ab1aa5a6614b.

[2019-02-22 21:20] #319 closed

[2019-02-24 20:16] edouardoyallon commented on #334
Thanks, I'll come with a PR asap

[2019-02-24 20:29] edouardoyallon opened #347 "ENH warning when making doc"
fresh clone + cd doc + make html leads to:

"WARNING: could not relabel citation reference [paper]"

I'm not sure what's the issue.

[2019-02-24 20:37] edouardoyallon commented on #277
Hi. I'm new w.r.t. sk-learn. Can you provide an example? (url, sphynx, ..)
Thanks!

[2019-02-25 07:25] rleonarduzzi commented on #321
I'll try and make a pull request by the end of the week

[2019-02-25 14:56] janden commented on #323
Let's make this issue only 2D and open a separate one for 1D/3D.

[2019-02-25 14:59] janden opened #348 "Remove PyTorch from 1D/3D filter generation"
- [x] 1D
- [x] 3D

Reproduce #345 in 1D and 3D.

[2019-02-25 15:00] janden commented on #334
Ok. Thank you!

[2019-02-25 15:00] janden commented on #347
I think this one is my fault. It appeared when I put in the new paper citation. Will look into it.

[2019-02-25 15:29] janden commented on #347
Looks like this is related to https://github.com/mcmtroffaes/sphinxcontrib-bibtex/issues/141.

[2019-02-25 15:34] #318 closed

[2019-02-25 19:15] #347 closed

[2019-02-26 02:47] janden opened #350 "Continuous deployment of docs"
We can configure Travis to build the docs and deploy them to the website (but only when we push to `master`). There's a script to do this called [travis-sphinx](https://github.com/syntaf/travis-sphinx). This would also have the advantage of catching and doc bugs that crop up.

[2019-02-27 20:24] janden opened #351 "`to` function"
TODO (edited by EO):

- [x] method `.to()` for 1D
- [x] method `.to()` for 2D
- [x] method `.to()` for 3D

PyTorch tensors have a `to` function (see https://pytorch.org/docs/stable/tensors.html#torch.Tensor.to), which combines datatype conversion and device copy (i.e., `cpu()` and `cuda()` functions). It might be good to have something similar on our end. This would, for example, simplify device-a

[2019-02-27 20:28] edouardoyallon commented on #351
I did a script
https://github.com/edouardoyallon/pyscatlight/blob/master/classification/main_scatMultiGPU.py#L28-L50

(I got also some for different backends like https://github.com/edouardoyallon/pyscatlight/blob/master/classification/main_scatDistributed.py )

So imho, one should design a function in backend that we call like

[code]
and we'll do like

[code]
to let the module use all the visibl

[2019-02-28 19:39] edouardoyallon opened #353 "ENH adding universities' logo which provide resources"
Should be added on the main website of kymatio and probably in the README

[2019-02-28 20:00] #267 closed

[2019-02-28 20:11] edouardoyallon opened #354 "BUG cupy missing from requirements"
`ModuleNotFoundError: No module named 'cupy`

In which file should I add it?

[2019-02-28 20:13] edouardoyallon commented on #354
my bad; it's still weird that cupy is not part of the requirements...

[2019-02-28 20:13] #354 closed

[2019-03-01 15:59] edouardoyallon commented on #286
Sounds good!

[2019-03-01 16:13] edouardoyallon commented on #261
Okay, waiting that one merges several branches before doing anything. I'm a bit concerned by "modulus stable" in 1D, is it really changing anything or is this an overkill?

[2019-03-01 16:14] edouardoyallon commented on #321
hi @rleonarduzzi

[2019-03-01 16:16] edouardoyallon commented on #330
okay I see, there is a parameter with this "grid" and "block" that I do not master and that we should definintely play with... I talked with some gpu engineers at my lab, and he suggested to do a grid search of the good "grid" and "block" hyper param at the moment the software is installed on the machine. I know nothing about that but he told me he'll spend few time to investigate this next week..

[2019-03-01 16:24] edouardoyallon commented on #282
What's exactly different? @joanbruna any opinion?

[2019-03-01 19:30] janden commented on #330
Yeah that's my suspicion as well. I haven't had time to look into it yet. That being said, this bug is not critical because 1) it seems to affect only small signals, which are not (that) common in 1D and 2) it affects the skcuda backend, which nobody uses.

Yes I agree 100%. We should definitely do this. That falls more under optimization, though.

[2019-03-01 19:31] janden commented on #261
From what I understand, it makes sure we have differentiability at zero. That being said, I haven't tested it.

[2019-03-01 19:52] janden commented on #300
Summary of discussion from #355:

It turns out `pytest` does run the code. If you put an `assert(False)` in there, it crashes. For some reason, `pytest-cov` isn't registering these lines.

[2019-03-01 19:53] janden commented on #300
Here's a minimal example:
[code]

If you run `pytest --cov --cov-report=term-missing` on this, it'll report the lines in `backward` as misses, even though they are executed.

[2019-03-01 21:18] janden opened #357 "`cdgmm` doesn't check that both inputs are on the same device"
This is at least true for the 2D torch `cdgmm`. It only complains when you try to multiply tensors. We should throw an error instead.

[2019-03-01 21:36] janden commented on #357
This seems to be the case for all the other `cdgmm`s as well.

[2019-03-02 02:35] janden opened #359 "Normalize benchmarks"
Right now, the different `compute_speed.py` scripts have very different running times. We should normalize these so that they take about the same time. Of course, this has to be balanced with ensuring large enough batch sizes to ensure maximum efficiency.

[2019-03-02 09:15] Jonas1312 commented on #282
Hi, sorry for late answer I'm quite busy.

As shown in the previous comment, the generated visualization does not perfectly match the figure 7 of the paper (with the same input image).

Moreover, each sector must approximates the frequency support of the corresponding wavelet:
![capture](https://user-images.githubusercontent.com/15847892/53679875-18011180-3cd3-11e9-8429-25b661e1d9af.JPG)
which is

[2019-03-02 14:10] edouardoyallon commented on #282
Hi,

No worries. Going to handle this PR. I'd really appreciate if you could review it when it'll be ready.

[2019-03-02 14:21] edouardoyallon commented on #282
If someone sees something to add to the TODO... otherwhise this is what I'll fix before to push

[2019-03-02 19:30] #333 closed

[2019-03-02 19:49] janden opened #362 "Include examples in test suite"
We've had these break several times, but we don't know about it since these are not tested as part of the CI. They should be tested in some way to make sure everything runs, at least prior to a release.

The biggest issue here is the 3D example, which takes several hours to finish, even on a GPU. Perhaps there is some way of simplifying it?

[2019-03-02 20:54] janden commented on #300
So it's not a matter of `pytest-cov` plugin to `pytest`, but in the underlying `coverage.py` package. Running `coverage run pytest` followed by `coverage report` gives the same result.

What could be happening is that the `y.backward()` call eventually disappears into a C extension (see [here](https://github.com/pytorch/pytorch/blob/80927fc068548bd3fd4621c79b9475439d751f3e/torch/autograd/__init__.

[2019-03-02 21:07] janden commented on #300
Looks like `coverage` uses [`sys.settrace`](https://docs.python.org/3/library/sys.html#sys.settrace) internally (see [here](https://coverage.readthedocs.io/en/latest/howitworks.html)). Seems like `sys.settrace` doesn't see what happens after we go into the C extension. Indeed, if we have the following code
[code]
and just run it (no `pytest`, no `coverage`), we get printouts for every line inside

[2019-03-03 02:03] #306 closed

[2019-03-03 02:10] #335 closed

[2019-03-03 02:10] #284 closed

[2019-03-03 06:50] edouardoyallon commented on #362
Well, would be ok to test them, but then is it possible to test them less often than the kymatio?
Similarly, I was wondering if we shouldn't move:
https://github.com/kymatio/kymatio/blob/master/kymatio/datasets.py

and how to test:
https://github.com/kymatio/kymatio/blob/master/kymatio/caching.py

[2019-03-03 09:14] Jonas1312 opened #363 "Scattering2D doesn't work with 2**J == image_size"
I'm not sure if #346 fixes #284 :

[code]
gives:
[code]
Can you reproduce the error ?
The goal is to get a (1, K, 1, 1) tensor.

Thanks

[2019-03-03 10:45] edouardoyallon commented on #363
Currently, the padding works by fiding the smallest size large than ceil(M+2**J) but divisible by 2**J. There are indeed two issues:

1. pytorch padding doesn't handle setting when one of the padding top/down+right/left is larger than the image size. This could be easily fixed, yet I think this is not critical because...
2. the setting in which J=(log(N)/log(2)) corresponds typically to settings w

[2019-03-03 10:49] edouardoyallon commented on #259
@janden maybe you could refactor following this in order to solve this issue, and add a plugin @ flatiron?

[2019-03-03 10:49] edouardoyallon commented on #110
@eugenium hi

[2019-03-03 10:55] Jonas1312 commented on #363
Got it, thank you 👍

[2019-03-03 11:06] edouardoyallon commented on #264
Hi,
in order to incorporate tf:
this sould be moved in the backend...
https://github.com/kymatio/kymatio/blob/master/kymatio/scattering2d/scattering2d.py#L110-L129

[2019-03-03 11:12] edouardoyallon commented on #300
alright, is it a known issue? if yes, we can't do much about it..

[2019-03-03 11:25] edouardoyallon commented on #359
Duplicate of #259

[2019-03-03 11:26] edouardoyallon commented on #261
would be awesome to confirm and if yep, adding it to 2D as well

[2019-03-03 19:17] janden commented on #362
We could do a nightly/weekly test. This doesn't solve the underlying issue of having extremely time-consuming examples. Is this at all desirable?

[2019-03-03 19:23] janden commented on #300
I would think so, but would have to dig a little more/check with the `coverage` people.

One workaround is to "simulate" the PyTorch autograd algorithm by calling `forward` and `backward` ourselves. The other way is to add some pragmas to those lines to have `coverage` ignore them.

[2019-03-03 19:25] janden commented on #359
I disagree. #259 is about including benchmarks into the CI process. This is about changing the benchmarks so that they're of comparable size.

[2019-03-03 19:25] edouardoyallon commented on #300
let's call them explicitely, it's the safer, as the error could be still catched

[2019-03-03 19:25] janden commented on #261
Yes. And 3D. This is on my TODO list.

[2019-03-03 19:41] janden commented on #300
Agreed. Will look into this.

[2019-03-03 22:36] #300 closed

[2019-03-04 15:50] edouardoyallon commented on #357
For this specific case, as this routine is common between 1-2-3D, this could be done jointly with #261?

[2019-03-04 19:41] janden commented on #357
I think we should do #261 first, then this one. Will be easier that way. Might make sense to do them in the same PR, though.

[2019-03-11 09:06] #353 closed

[2019-03-14 18:37] nshervt opened #367 "scattering(x) vs scattering.forward(x)"
It seems that both the following codes

[code]

and

[code]

have the same output, of the same type. Is there any differences between them or any place that one might work better then the other?

[2019-03-14 18:43] eugenium commented on #367
It's the same, it follows the nn.Module API of pytorch

[2019-03-14 18:45] #367 closed

[2019-03-17 07:27] #323 closed

[2019-03-19 20:09] grlee77 opened #369 "broken 2D examples"
Thank you for creating this interesting library! I was trying to run the examples and they are mostly working, but I encountered a couple of issues:

`2d/plot_filters.py`:
seems to have become outdated. Fix proposed in #368

`2d/regularized_inverse_scattering_MNIST.py`:
failed, but it is unclear to me if the problem is with `kymatio` or `pytorch`
(I have `pytorch 1.0.1` and `torchvision 0.2.2` fro

[2019-03-20 10:12] edouardoyallon commented on #362
Related #369

[2019-03-22 20:12] janden commented on #369
So for the `plot_filters.py` bug, it should be fixed after #368 is merged, but the underlying problem there needs to be addressed: we shouldn't be accessing filters (and other internal variables of the scattering objects) directly, since these may change depending on the implementat (real/complex, but also when we start experimenting with optimized versions).

[2019-03-25 17:42] JonathanVacher opened #371 "python 3.6 required for pip install"
Hi,

pip install is not working because it requires python 3.6 as indicated here: https://pypi.org/project/kymatio/

Kymatio is supposed to work with python 3.5 as indicated by the logo on the website: https://www.kymat.io/index.html

Thanks,

[2019-03-25 17:57] JonathanVacher opened #372 "Output results before non-linearity"
Hi,

I'm doing computational neuroscience and image statistics. In these fields, some models give a probabilistic description for the outputs of filters before the non-linearity. It should be useful (at least for me) to have an option to choose the output we would like.
In deepnet, it is possible to have the output at any level, however, the transforms have been learned and I would appreciate to u

[2019-03-25 18:22] lostanlen commented on #372
Hello @JonathanVacher,
This is not possible with the current Kymatio API, but is relatively easy to obtain by rolling up your own implementation of `Scattering2D` from `scattering2d.py`.
What you need is for `forward` to return `U_1_c` and `U_2_c` from lines 205 and 219

https://github.com/kymatio/kymatio/blob/master/kymatio/scattering2d/scattering2d.py#L205

https://github.com/kymatio/kymatio/blo

[2019-03-25 18:43] lostanlen commented on #371
Ah yes, i think that this is because we were excited about PEP 498 on literal string interpolation, but did not reflected it in the badges.
https://www.python.org/dev/peps/pep-0498/

What do you think @eickenberg ?

[2019-03-25 18:50] eickenberg commented on #371
Wait, where does it break?
We had started out supporting only 3.6 (though it worked in 3.5) and
explicitly added official 3.5 support because people were asking for it.
Aren't we then also testing with 3.5 and our tests pass?

On Mon, Mar 25, 2019, 11:43 AM Vincent Lostanlen <notifications@github.com>
wrote:

[2019-03-25 18:53] JonathanVacher commented on #371
No idea. This is what I get when running pip install:
![kymatio](https://user-images.githubusercontent.com/6490783/54946134-ccc2d300-4f0d-11e9-8ff4-bcdb1ee00c19.png)

[2019-03-25 18:55] lostanlen commented on #371
It does not break in Python, it breaks in pip install, because the PyPI page does not list Python 3.5
https://pypi.org/project/kymatio/

[2019-03-25 18:56] eickenberg commented on #371
Got it. Will fix

On Mon, Mar 25, 2019, 11:55 AM Vincent Lostanlen <notifications@github.com>
wrote:

[2019-03-25 19:48] JonathanVacher commented on #372
Thanks for your help !

I don't understand why there cannot be any subsampling. The subsampling is just a step and I'm not removing any steps.

[2019-03-25 20:04] lostanlen commented on #372
@JonathanVacher you're removing the nonlinearity, which demodulates oscillations. Therefore, the output is no longer real and nonnegative, but complex-valued. Furthermore, because wavelets are analytical, they have zero average, and therefore the output of the scattering transform without nonlinearity will also have a zero average. If you were to subsample that output more than the scale of the wa

[2019-03-25 20:28] JonathanVacher commented on #372
Ok. To be sure I've understand well. The subsambling you're talking about is not part of the transform it's just an operation on the output, right ? It is the \phi_J of the kymatio paper ?
Sorry for the confusion I thought this subsampling was part of the transform.

Will let you know how it goes.

[2019-03-27 02:16] strawberry1996 opened #373 "Hello, I have a question about inverse"
I reading your code about scatter inverse, and I train the model use your way, but I don't know, how can I test the model?  for instance, when I scattering, I set L =8, J=2 then I get 17 feature images, What should I input when I invert? Is it 17 scattering images?

[2019-03-27 09:28] edouardoyallon opened #374 "Code for inverting scattering via mse"
Should be added in examples..

Close https://github.com/kymatio/kymatio/issues/373

[2019-03-27 09:39] edouardoyallon commented on #373
I'll add soon a PR with an example of scattering inversion via gradient descent.

[2019-03-27 09:39] #373 closed

[2019-03-27 09:40] edouardoyallon commented on #369
I agree. Should open a new issue for a future update.

[2019-03-27 09:40] #369 closed

[2019-04-01 06:10] arshdefoamed opened #376 "Accessing coefficients layer wise"
I am trying to compare the energy of the signal at different levels of the scattering response. However, I have trouble pointing out which index value corresponds to which level?
Please refer to the code below taken from MNIST classification:

[code]
This gives the scatterinf response (1, 1, 81,7,7). However, I am not sure which index corresponds to which level.

Also, I would like to apply SVM to

[2019-04-14 20:53] nshervt opened #377 "1D constructor"
I was trying to compare 1D filter constructor in scatnet with kymatio, and I couldn't make a one-to-one correspondence between the two. Here are a handful of items that I'm confused about:
As an example, I tried to regenerate the following filter in kymatio:
[code]
the equivalent function in kymatio would be
[code]
I understand that $filter_size = 2^{J_support}$, so it should be 4, then the defaul

[2019-04-17 08:08] ghost opened #378 "Adding phi_f information in meta"
Hello everyone,

`meta()` is actually only returning center frequencies and bandwiths of psiN_fs.
Should it also contain information about phi_f ?

I think it could be useful since users will only need to call `meta()` to get all the frequency-related information.

It will be a minor modification by just adding `phi_f["xi"]` and `phi_f["sigma"]`  ( or `0.0` and `2^-J` ) in the first rows of `meta[

[2019-04-17 11:42] lostanlen commented on #378
Hello @gdestouet. This is a good idea

[2019-04-18 18:42] arshdefoamed commented on #363
Hi,
Is there a work-around to this issue right now where we can get an output tensor of size (1, K, 1, 1) ?

[2019-04-19 07:34] edouardoyallon commented on #377
@lostanlen @janden this is surprising, can you coment on this? I'm not familiar with 1D-kymatio, are those filters in the Fourier domain?

[2019-04-19 07:36] edouardoyallon commented on #376
Hi, this is a good point.
- We should return a meta with the scattering coefficients!
- Just reshape the 3D tensor 81x7x7 to a vector.

[2019-04-19 07:38] edouardoyallon commented on #372
Yes, it is an operation on the output. Basically, you need to remove the calls to "modulus", "periodize", the for loop over 2nd order, the low-pass filtering and you will get a large array of an oversampled wavelet transform.

[2019-04-19 07:39] edouardoyallon commented on #371
@eickenberg status?

[2019-04-19 07:40] edouardoyallon commented on #363
For now, the simplest is to pad your image on your side and to extract the center pixel. Sorry about that, pytorch does allow a padding by N-1 of a signal of size N, but not a padding of N.. that needs extra coarse changes that can lead to hard-to-track bugs if not correctly handled..

[2019-04-19 14:19] arshdefoamed commented on #363
Thanks for the quick response @edouardoyallon
Just to confirm the input size of the image, let's say we have an image from MNIST dataset whose size is 28x28. So, if I have to extract the center pixel for J=3, I would need to crop it to the size 24x24.
Whereas if I have an image from US Postal service handwritten dataset, whose size is 16 x16. For the same result, I would need to pad it to the size

[2019-04-29 23:38] nshervt commented on #377
@edouardoyallon Yes, according to comments in scattering_filter_factory function:

[2019-05-06 21:14] dminskiy opened #379 "Unexpected crush with J=1"
Hi,

I faced the following problem: I get unexpected and unexplained crush when J=1 regardless of other parameters values. Please, find the code and the error message below.

Here's the code:

[code]

And the error message:

Is it me or something is wrong?

Thank you,
Dmitry

[2019-05-08 15:55] AndreuxMath commented on #377
Hi @nshervt ,

Thank you for your feedback!

It looks like the filter generation in kymatio is not working well for very small input sizes. I think it was only tested for large `J_support`, something like `J_support = 13`. This explains the zero outputs. I can help on fixing this one.

As you noticed there's a tiny difference in the `sigma0` value, just as there is a tiny difference in the formula

[2019-05-10 08:21] edouardoyallon commented on #379
Hi Dmitry,

Thanks for opening this issue. Indeed, the value J=1 can't work currently. If J=1 is used, then no second-order coefficient will be included. I'm not sure it makes sens to set this value as valid.

@janden @lostanlen @eickenberg any thoughts? Should it be a legal value?

[2019-05-10 09:17] dminskiy commented on #379
@edouardoyallon, thank you for the reply

But this is exactly what I'm trying to do here. I only need 1 order of coefficients which then will be worked on and reused.

Is there any hacky way I can enable J=1?

[2019-05-10 10:36] edouardoyallon commented on #379
So, if you impose maxorder=1 and if you modify this line: https://github.com/kymatio/kymatio/blob/master/kymatio/scattering2d/filter_bank.py#L49 such that the resolution 0 of the filterbank is built, then that should work.

[2019-05-10 10:37] edouardoyallon commented on #379
Actually, after looking more carefully, nothing forbids to do J=1 there. Feel free to propose a PR!

[2019-05-11 11:11] Jonas1312 commented on #373
Not sure if it's what you're looking for but maybe this can help you: [https://github.com/Jonas1312/scattering-networks/blob/master/Python/image_reconstruction/main.py](https://github.com/Jonas1312/scattering-networks/blob/master/Python/image_reconstruction/main.py)

[2019-05-11 12:30] edouardoyallon commented on #373
Hi, thanks a lot! Maybe you could do a PR?

[2019-05-13 12:23] edouardoyallon commented on #110
hi @eugenium

[2019-05-13 12:23] edouardoyallon commented on #111
hi @louity

[2019-05-15 18:40] nshervt commented on #377
Thanks @AndreuxMath for detailed response.

I appreciate your help.

[2019-05-21 08:41] #372 closed

[2019-05-25 20:34] nshervt opened #386 "Inverse fft in 2D backend"
EDIT by EO:
- [x] Using the appropriate normalization for the ifft (ie both backend files)
- [x] Adding a unit test in 2d/test for testing the fft, which is not currently tested
- [x] Normalizing the wavelet in the Fourier domain (ie the file filter_bank.py) to avoid the new code to break and satisfy the previous unit tests
NOTE: this might lead to a small(not to say tiny) speed-up, because the do

[2019-05-29 10:41] edouardoyallon commented on #386
Hi,
This is a very good point. It's due to a lack of testing of the FFT, however solving it is easy! I put a checklist to fix this! Would you mind doing a PR for solving this? Thanks!

[2019-05-29 11:09] #357 closed

[2019-05-29 11:10] edouardoyallon opened #387 "CUDA tests still fail"

[2019-05-29 11:19] #379 closed

[2019-05-29 11:20] #334 closed

[2019-05-29 12:51] edouardoyallon commented on #387
okay my bad, it works perfectly fine - it's just that the way the console is read in github is different(like the output is not displayed as before). Do you know by chance if this is easy to fix?

[2019-05-29 13:20] #374 closed

[2019-05-29 14:20] dylex commented on #387
I'm not sure I understand.  I do see the last few commits are failing, but these look like they might be real failures. Do you think they should be passing? Which output are you referring to?

[2019-05-31 02:12] edouardoyallon commented on #264
Are you OK that I try to transfer few issues about Tf in: https://github.com/kymatio/kymatio/projects/1 ? It would clean a bit the Issue list. If yep, I'll copy paste the content there and close this issue. Future discussions could be done there as well!

[2019-05-31 10:29] #264 closed

[2019-06-01 18:42] nshervt commented on #369
Experienced the same issue with python 3.7.3. Downgrading torchvision to torchvision-0.2.1 fixes the issue.

[2019-06-02 23:24] nshervt commented on #386
Just some questions before proceeding:

So we want to normalize output of fft after transform and revert this before inverse transform. Essentially we normalize when we are in the Fourier domain. I was expecting something in the form of

[code]
would work, but since we are discarding reminder of devision by using `//`, would this even be reversible? Also, why don’t we simply use`normalized=True` ?

[2019-06-03 11:20] edouardoyallon commented on #386
Hi

Well, that could actually sound like a hidden bug: feel free to remove the double slash. That's not a bug because normally the signal has been padded such that 2^j divides the dimensions. normalized=True might work and would be probably the most efficient!

Here, this is intentional. For creating the filters, we wish to use only the numpy fft. The reason is that some days, the software might b

[2019-06-12 11:49] wmking commented on #371
Hi Guys, has this not been fixed? Running Python 3.5.3

pip3 install kymatio

produces error listed in this issue.

[2019-06-12 16:32] edouardoyallon commented on #371
Hi, I agree.. I don't have the pypi's password to fix that. It's a bit annoying.. @eickenberg @eickenberg

[2019-06-12 16:41] lostanlen commented on #371
@wmking if you insist on Python 3.5, my recommendation is to install from source

[2019-06-12 19:34] edouardoyallon commented on #387
Hey, it seems there is .. no more GPU, any suggestions? https://jenkins.flatironinstitute.org/job/kymatio/job/PR-382/8/console

Thanks!!
Edouard

[2019-06-12 20:05] dylex commented on #387
Sorry, a recent update left things in an inconsistent state.  I'll try to keep an eye on future changes.

[2019-06-12 20:37] wmking commented on #371
Thank you lostanlen, this worked.

[2019-06-12 22:43] edouardoyallon opened #391 "Codecov seems to not take in account the GPU part on FI"
Hi! There is a drop of coverage because the GPU part seems dropped. Any suggestions/ideas?

https://codecov.io/gh/kymatio/kymatio

Thanks.

[2019-06-12 23:13] edouardoyallon opened #393 "BUG Python 3.7 fails (only with conda)"
https://travis-ci.org/kymatio/kymatio/jobs/544985437 with anaconda!

[2019-06-12 23:28] #110 closed

[2019-06-13 21:53] edouardoyallon commented on #386
Hi, can you propose a PR of what you did until now? I'm gonna finish this PR. Thanks

[2019-06-13 21:57] nshervt commented on #386
Hi @edouardoyallon, will do by tomorrow. My changes break test_Scattering2D in unittests, and that I had to look into.

[2019-06-13 22:50] edouardoyallon commented on #387
https://jenkins.flatironinstitute.org/job/kymatio/job/PR-390/4/console it seems that the software is stuck there...

[2019-06-13 23:55] #282 closed

[2019-06-14 00:10] eickenberg commented on #393
This looks like a travis hiccup. It couldn't git clone the repo for some reason. Doesn't look python 3.7 related

[2019-06-14 00:10] #393 closed

[2019-06-14 09:04] edouardoyallon commented on #371
This should be fixed

[2019-06-14 09:04] #371 closed

[2019-06-15 00:34] nshervt commented on #386
#397 . I also did couple changes that you might not be interested, feel free to discard:
1. In regularized inverse 2D test, I added tqdm for better illustration of enumerating batches
2. I added an if statement to automatically do decide whether to move to CPU or GPU (I saw you suggested somewhere to set cuda.is_available() as a boolean variable, I just noticed that I forgot that here.)

[2019-06-16 19:44] #348 closed

[2019-06-16 19:44] #351 closed

[2019-06-17 15:26] edouardoyallon commented on #387
Hi, in the recent PRs, there is this bug: https://jenkins.flatironinstitute.org/job/kymatio/job/PR-398/3/console not sure how to fix it.. Thanks!!

[code]

[2019-06-18 19:12] eickenberg opened #399 "[BUG] 1D scattering padding fails on certain dataset sizes"
![image](https://user-images.githubusercontent.com/1306635/59712480-290e5980-91c2-11e9-8936-c790b794753e.png)

When transforming a signal of length `301703` I get this error. It seems that it is saying that the computed required padding is longer than the signal and so reflection padding is undefined. Anybody have an idea as to why it wants to pad so much?

[2019-06-18 19:18] eickenberg commented on #399
Never mind, this was a user error. I used the wrong input signal, which was transposed wrt to what it should have been.

Closing, but going to include clear text of that error, so this becomes googlable

[code]

[2019-06-18 19:18] #399 closed

[2019-06-18 19:25] eickenberg commented on #305
Working with 1D data of shape `(384, 300000)` is showing me the limitations of not having this implemented. My GPU maxes out in memory at `(30, 300000)`, which, if we made this into one long line, would correspond to like 400s of mono audio at 22050. It might be nice to be able to go a bit above that without having to manually chunk data etc

[2019-06-18 20:57] eickenberg opened #400 "[BUG] 1D scattering output doesn't seem to garbage collect"
I have a large dataset to process, and it seems like I can't get the results of `S1D(x)`  to leave the GPU, so eventually the memory overflows no matter how small the batch was. This needs to be fixed

[2019-06-18 21:07] eickenberg commented on #400
I did another user error, where during manual batching I combined two techniques for strided iteration which led to bigger and bigger batches.

[2019-06-18 21:10] eickenberg commented on #400
Actually the bug persists: My hunch is that it happens (probably) only when we do not vectorize the output (`vectorize=False` is a necessary setting for `average=False`). Maybe the garbage collector gets confused

[2019-06-18 21:18] eickenberg commented on #400
The bug was in my code to detach and cpu all items in a dictionary. I had written this:

[code]

and had set `output[k] = v` instead of `dv`

[2019-06-18 21:18] #400 closed

[2019-06-19 01:53] eickenberg opened #402 "[BUG] Scattering1D doesn't have a `device` attribute"
This would be useful in a multi-gpu context

[2019-06-19 17:35] edouardoyallon commented on #402
#398 +1/3D will fix this.

[2019-06-19 17:46] edouardoyallon commented on #387
[code]

[2019-06-25 22:16] edouardoyallon commented on #391
any suggestions to improve the coveraging?

[2019-06-25 23:15] nshervt opened #403 "inverse of complex wavelet transform"
I was wondering how can I invert the wavelet transform
[code]
I am specifically confused about what filters to use and how to invert subsamplings.

[2019-06-25 23:23] lostanlen commented on #403
@nshervt you need to compute an adjoint filter for each `psi`, convolve them with `U_1_c`, upsample, sum across `j1`, and retain the real part.

[2019-06-25 23:26] nshervt commented on #403
@lostanlen How can I create the adjoint filter?

[2019-06-25 23:30] lostanlen commented on #403
@nshervt You need to compute a Littlewood-Paley partition function `A(omega)` by summing, in the Fourier domain, the squared moduli of every `psi` as well as half the squared modulus of `phi`. Then you can define the adjoint filter in the Fourier domain as a pointwise quotient between the complex conjugate of `\hat{psi[j1]}(omega)` and `A(omega)`.

[2019-06-25 23:30] #403 closed

[2019-07-09 19:05] janden commented on #391
Fixed in #404.

[2019-07-09 19:05] #391 closed

[2019-07-09 19:07] janden commented on #387
Is this still happening? The checks on #398 suggest that Jenkins passes now.

[2019-07-09 20:18] lostanlen commented on #305
As a bioacoustician, i routinely work on input waveforms that are a billion samples long or more. Overlap-add is essential in this case. And 👍 for working independently of image size. This opens the path for training fully convolutional models and recurrent models

[2019-07-09 20:35] janden opened #406 "DOC Capitalization `User guide`"
To line up with the rest, the `g` should be lowercase, not uppercase.

[2019-07-09 20:40] janden opened #408 "BUG skcuda backend does not warn for non-contiguous cdgmm inputs"
The 3d torch backend does this, so for compatibility's sake, the skcuda backend should do the same.

[2019-07-09 20:45] janden opened #409 "DOC Fix intro to developer's guide"
Currently just says
[code]
which is not acceptable.

[2019-07-10 00:54] #406 closed

[2019-07-10 01:17] janden commented on #402
So what does this mean? `Scattering2D` doesn't seem to have this attribute (it's a kwarg to `to()`, but that's it).

[2019-07-10 01:36] #409 closed

[2019-07-12 11:54] edouardoyallon commented on #387
I think it is fine.. sometimes it bugs but maybe it's worth closing this issue for now. Sorry for the possible noise..

[2019-07-12 11:54] #387 closed

[2019-07-15 09:37] EtienneDesticourt opened #411 "Inconsistent documentation for Scattering1D input and output shapes"
Hi,

The shape of the input and output tensors of Scattering1D is inconsistent/unclear in the documentation.

For example in the 1D section of the [user guide](https://www.kymat.io/userguide.html):

But the output shape is actually (B, 1, P, T/2^J) with such an input tensor.

Similarly, in the [code reference for Scattering1d](https://www.kymat.io/codereference.html) the example provided shows an

[2019-07-16 00:06] #339 closed

[2019-07-18 23:55] Kegnarok commented on #363
Sorry to reopen this, and feel free to close if I'm wrong, but I believe this still doesn't work on master as of now.
[code]
which prints `torch.Size([3, 3, 681, 0, 0])` but I believe the correct result should be `torch.Size([3, 3, 681, 1, 1])`. Whatever the intended result, the test for this is actually disabled: the scattering is never called in
https://github.com/kymatio/kymatio/blob/master/kym

[2019-07-19 08:29] edouardoyallon commented on #363
Please propose a PR - that should have been fixed in the former PR

[2019-07-22 15:11] #363 closed

[2019-07-22 16:39] eickenberg opened #414 "[BUG?] Does `.to` need to set `self.device`?"
It looks like our `Scattering` objects do not have a `.device` attribute. Is this necessary? And should we add setting this into the `.to` method? Or am I missing something standard

[2019-07-22 22:07] edouardoyallon commented on #414
On torch, if #398 is merged, then `.device()` is automatically inherited as well as `to()` because this is a native torch module functionality.

[2019-07-22 22:08] edouardoyallon commented on #414
Duplicate of #402 ?

[2019-07-23 11:02] edouardoyallon commented on #286
@janden maybe it's a good idea to generate this figure now?

[2019-07-23 11:12] edouardoyallon commented on #350
@janden could you add it?

[2019-07-23 14:15] edouardoyallon opened #416 "Documentation is outdated"
We should revise the whole documentation as well as examples.

- [x] `make html` is currently broken.
- [x] Examples run with the new backend.
- [ ] Documentation is consistent with the code.
- [ ] No links or references are broken.
- [ ] Automatic deployment on the website from the code (see #350).
- [x] Guideline for installing works.
- [ ] Use of \math everywhere.
- [ ] Improved illustrations (

[2019-07-23 14:15] edouardoyallon commented on #350
Now in #416

[2019-07-23 14:15] #350 closed

[2019-07-23 14:17] edouardoyallon commented on #362
Close via #416

[2019-07-23 14:17] #362 closed

[2019-07-23 14:17] edouardoyallon commented on #286
Close via #416

[2019-07-23 14:17] #286 closed

[2019-07-23 14:19] edouardoyallon commented on #260
Is still relevant?

[2019-07-23 14:29] edouardoyallon commented on #266
Closed by #415

[2019-07-23 14:29] #266 closed

[2019-08-09 14:01] edouardoyallon commented on #416
Maybe also we should/could remove torch's usage in the doc and instead use numpy?

[2019-08-17 16:13] edouardoyallon opened #418 "ENH Multiple tensor sizes"
One should allow multiple dimension instead to hard code the maximum rank of a tensor. The software would be more flexible. I'll add a unit-test for this asap.

- [x] 1D
- [x] 2D
- [ ] 3D

[2019-08-17 18:40] edouardoyallon opened #419 "ENH removing torch from the tests"
Most of the "data" to compare with the MATLAB versions has been saved via torch. One should aim to remove this line, for instance

https://github.com/kymatio/kymatio/blob/kymatio-dev-frontend/kymatio/scattering2d/tests/test_tensorflow_scattering2d.py#L5

which will affect

https://github.com/kymatio/kymatio/blob/kymatio-dev-frontend/kymatio/scattering2d/tests/test_tensorflow_scattering2d.py#L32

[2019-08-17 18:42] edouardoyallon commented on #261
instead to create a `common_backend`, I propose to create a folder at the root of the software as I did for `frontend`

[2019-08-17 18:45] edouardoyallon opened #420 "Doc missing for the abstract class"
https://github.com/kymatio/kymatio/tree/kymatio-dev-frontend/kymatio/frontend

This should be documented... it does correspond to an abstract class, which specify routines to systematically implement.

[2019-08-17 18:46] edouardoyallon opened #421 "BUG Working examples with the new frontend"
Everything there: https://github.com/kymatio/kymatio/tree/kymatio-dev-frontend/examples must run, frontend must be specified.

- [x] 1D
- [x] 2D
- [x] 3D

[2019-08-17 18:50] edouardoyallon opened #422 "Jenkins with tf, numpy, .."
One should make sure jenkins is adapted to the new backend-frontend mechanism!(doesn't run for now)

[2019-08-17 18:52] edouardoyallon opened #423 "Frontend/backend for 3D is missing"
- [x] numpy
- [x] tf

[2019-08-25 09:32] #422 closed

[2019-08-26 18:04] janden opened #426 "Large binary file in `examples/2d/images`"
Currently, this folder contains one file, `baboon.bmp`, which measures 704 kB (there's also a smaller one, `digit.png`, which measures 271 bytes). The whole repository now weighs in at 1.6 MB, so almost half of it is taken up by this one file. As discussed before, we should find alternatives to storing binary blobs in the repository, and, if this is not feasible, to minimize the size of the binari

[2019-08-26 18:14] janden opened #427 "`plot_invert_scattering.py` is not portable"
Specifically, it has to be run from its own directory, which is inconvenient. The reason is the line https://github.com/kymatio/kymatio/blob/fff9792fa4920a2f1bd04368df524c763c823344/examples/2d/plot_invert_scattering.py#L26 which specifies the image as a relative path from the working directory. Ideally, this would be done in a way that finds the file by looking at the path of the script instead.

[2019-08-28 01:27] lostanlen commented on #426
i would recommend `scipy.misc.ascent` or `scipy.misc.face`

[2019-08-28 09:42] edouardoyallon commented on #426
Any pkg which is not `torch`, `tensorflow` sounds good to me.

[2019-09-09 01:01] tingyuansen opened #428 "Max Order for Scattering2D"
Dear Sir/Madam,

Thank you so much for developing the package. The package is really amazing!

Just a quick question. for one of my application, it would be really great to extend the order to > 2. I am just wondering if there is any way to extend the order?

Thank you so much!

[2019-09-09 10:03] lostanlen commented on #428
Hello @tingyuansen. There is no simple way to extend Kymatio beyond second-order scattering at the moment. The computational graph of Kymatio is based on depth-first search, so second-order scattering is achieved via two nested for loops. To obtain third-order scattering, one would have to write a triply nested for loop.

Note that the github.com/scatnet/scatnet MATLAB/Octave library supports thir

[2019-09-09 10:03] #428 closed

[2019-09-18 07:37] edouardoyallon opened #429 "UT more tests for the 3D"
Currently, the coveraging is not good. Tt seems we only test the equality of the 3D scattering's coefficients with some saved one via a single averaging type. Yet there are 3 different averaging possibility, thus I believe we should store coefficients computed from the other averaging type in order to exclude potential bugs.

[2019-10-13 15:41] edouardoyallon opened #430 "travis+TF 2 python=3.5"
Hi,

https://travis-ci.org/kymatio/kymatio/jobs/597288979

It seems that TF2.0 isn't installed correctly on python 3.5. I couldn't find the issue. Can someone investigate?

E

[2019-10-13 16:06] edouardoyallon commented on #430
https://jenkins.flatironinstitute.org/job/kymatio/job/PR-415/67/console

Also, I'm wondering through this log if jenkins run torch 1.3? The tests do not fail on my local machine (with latest torch and tf) but they fail on jenkins.

[2019-10-13 16:24] edouardoyallon commented on #430
https://travis-ci.org/kymatio/kymatio/jobs/597299412#L441

Clearly the issue.(I've added some assert)

[2019-10-13 17:34] edouardoyallon commented on #430
same for jenkins:
https://jenkins.flatironinstitute.org/job/kymatio/job/PR-415/70/console

[2019-10-15 16:45] #430 closed

[2019-10-15 16:46] edouardoyallon opened #435 "torch frontend should be the default"
Until 0.3, we should make the torch backend default for retrocompatibility purpose.

[2019-10-19 12:35] edouardoyallon opened #439 "updating the timing page in the doc + np & tf timings"

[2019-10-21 23:46] blibliki opened #442 "Audio from 1D scattering coefficients"
Hello! and thank you for making Kymatio!

I am sorry if this is a naive question or if it has been addressed in any way.
I want to use time-frequency scattering in order to change the texture of an audio file
by synthesizing a new waveform from the audio's computed scattering coefficients.

In the examples "Compute the scattering transform of a speech recording" or "Compute the scattering transfor

[2019-10-22 13:31] lostanlen commented on #442
Hello blibliki, welcome to Kymatio.
What you are asking is not yet possible with Kymatio, for two reasons:
(1) Kymatio does not have time--frequency scattering
(2) Kymatio does not have a stable interface for synthesis

At the moment, Kymatio devs are focused on coming up with a unified API for scattering transforms in 1-D, 2-D, and 3-D with interoperable deep learning backends and frontends, so t

[2019-10-23 17:30] blibliki commented on #442
Thank you for your answer!
I will check MATLAB as advised!

[2019-10-23 17:30] #442 closed

[2019-10-24 15:11] yanwencheng opened #443 "about 1d scattering.forward(x) problem"
Hi, I am learning wavelet time scattering
In MATLAB, scattering feature matrix formula: smat=featureMatrix(sf,S);
If kymatio wants to get the same characteristic matrix, scattering.forward(x)[0] equivalent to the MATLAB formula?
In addition, the MATLAB plot feature map is
![matlab](https://user-images.githubusercontent.com/11845393/67499557-e7337980-f6b3-11e9-8255-2c628d0bf738.jpg)

However, in ky

[2019-10-24 18:58] eickenberg opened #444 "garbage error message resulting from type checks"
![image](https://user-images.githubusercontent.com/1306635/67516336-56c64c00-f655-11e9-8bc1-f29604077ed0.png)

"Type of A is not the Type of B" ? What is that supposed to mean for a user who just tried to call scattering on a `DoubleTensor`. We need a better error message here. Probably one stating that the input "probably needs to be of dtype float"

[2019-10-24 20:34] eickenberg opened #445 "ENH [low priority] option to drop low-pass filters"
I am finding myself in a situation where I need access to the non-lowpass-filtered wavelet moduli.

I realize there is a potential space issue, but it might be not only me wanting access to these.

Going to just convolve the filters myself for the moment, but I might make a PR in the future

[2019-10-24 20:52] eickenberg opened #446 "BUG? Inefficieny in 2d scattering"
Am I reading this right, that the subsampling is done and redone for every filter that has `j1 > 0`?

Please take a look at this line and help me understand
https://github.com/kymatio/kymatio/blob/master/kymatio/scattering2d/scattering2d.py#L225

Is the subsampling cached somewhere?

I think I am right in saying that we only need this downsampling operation once per scale and not `n_filters * (n_s

[2019-10-24 21:07] eickenberg commented on #446
Ah, thankfully I misunderstood the code. I thought the input was being subsampled, not the filtered input. This then needs to be repeated every time and can't be avoided.

[2019-10-24 21:07] #446 closed

[2019-10-25 14:01] edouardoyallon commented on #444
good catch but which version are you using?

[2019-10-25 14:04] edouardoyallon commented on #443
Hi, thanks for asking and opening this issue. So, from what I remember/see:

1. The 1D wavelets of kymatio are slightly different from the MATLAB version.
2. The order of compute is pretty different!(ie, the mapping from kymatio's index to scanet's index isn't the identity)
3. I've the impression the commands are giving some different displays.

FYI, in 2D, the results are identical.(to be precise

[2019-10-27 06:12] yanwencheng commented on #443
Thank you for your answer。
In kymatio, can I think that SX = scattering. Forward (x) formula SX [0] is the scattering characteristic matrix of one-dimensional signal?

[2019-10-28 09:43] edouardoyallon commented on #443
I'm not sure what you mean tbh. @lostanlen might answer better this.

[2019-10-28 09:44] #443 closed

[2019-10-30 00:53] lostanlen commented on #445
This will cause a huge increase in memory footprint, and might break compatibility if whatever downstream application assumes that all coefficients have the same resolution. Unless you want to oversample?

[2019-10-30 01:01] eickenberg commented on #445
Oversampling might be OK. Though I'd probably also want to support the
appropriate subsampling.

I am going to write an example that does this and show that I have to
basically copy out the whole loop that does the scattering and do a minor
modification. Given that example, if more people want this as a primary
functionality, we can then consider implementing it later.

Since this codebase is prim

[2019-10-30 01:10] lostanlen commented on #445
think it would be nice to be able to tinker with the inner states of the
system easily.

Yes, this is what prompted me to make `scattering.m` after `scatnet` v0.2. It is easier to inspect the inner state of the transform in `scattering.m`. But the memory footprint is terrible. It's a tradeoff.

[2019-11-01 14:28] janden commented on #445
In terms of sampling, it could simply be a matter of disallowing `vectorize` when we don't have averaging. In fact, I think this is already done in 1D.

[2019-11-15 15:28] edouardoyallon commented on #420
This was solved via #441

[2019-11-15 15:28] #420 closed

[2019-11-15 15:29] edouardoyallon commented on #414
This issue will be closed by v2.

[2019-11-15 15:29] #414 closed

[2019-11-15 15:30] edouardoyallon commented on #402
Will be fixed by v2.

[2019-11-15 15:30] #402 closed

[2019-11-17 09:16] MuawizChaudhary opened #450 "Capitalization of frontend and backend string should not matter"
Users should feel free to capitalize the frontend/backend string however they like. A method I had for doing this was to make everything lowercase in order to load up the appropriate frontend. This can be extended to the case of the user selection of the backend too.

[2019-11-17 21:27] edouardoyallon opened #451 "ENH batch agnosticism"
Hi,

In v2, only some specific dimension of batches are possible. This behavior should be replaced to allow any batch size, such that the output sizes are consistant across different scattering.

[2019-11-17 21:33] edouardoyallon opened #452 "ENH backend should be classes and not namedtuple"

[2019-11-18 21:33] janden commented on #451
Isn't this already the case? I could have sworn we implemented this a while ago. Is it not retained by the new frontend interface?

[2019-11-18 21:36] edouardoyallon commented on #451
no - if we submit a batch of size (10,3,45,56,32,128) with scattering 1D, this will not run.

[2019-11-18 21:36] janden commented on #450
Good idea.

[2019-11-18 21:36] edouardoyallon commented on #451
furthermore, the corresponding tests are not added.

[2019-11-18 21:37] janden commented on #451
What about

https://github.com/kymatio/kymatio/blob/fff9792fa4920a2f1bd04368df524c763c823344/kymatio/scattering1d/tests/test_scattering1d.py#L329

?

[2019-11-18 21:44] edouardoyallon commented on #451
In 2D*

[2019-11-18 21:47] janden commented on #451
https://github.com/kymatio/kymatio/blob/fff9792fa4920a2f1bd04368df524c763c823344/kymatio/scattering2d/tests/test_scattering2d.py#L252

[2019-11-18 21:47] janden commented on #451
Something missing in the test, then?

[2019-11-18 21:50] edouardoyallon opened #453 "DOC "raise" section in the documentation"
@MuawizChaudhary observed we should specify when an error is "Raised" in the documentation. Should we?

[2019-11-19 07:39] edouardoyallon commented on #451
Damn, I didn't know we had implemented this feature. Alright, so I'm closing the issue.

[2019-11-19 07:39] #451 closed

[2019-11-21 01:57] nshervt opened #454 "On output of 3D scattering"
According to the following comment in #158, for a 3D input of size (B, M, N, O), the outputs , based on the method, would have the following dimensions:

Now I have 2 issues:

 1. for an input data with size `torch.Size([1, 128, 128, 128])`, using standard method, I get an output of size `torch.Size([1, 10, 5, 16, 16, 16])` for a scattering with `J = 3` and `L = 4`. This does not follow `(B, P, M/

[2019-11-21 17:20] janden commented on #453
I think it's more important to have error messages that are useful to begin with. Note that the [NumPy docstring guide](https://numpydoc.readthedocs.io/en/latest/format.html#docstring-standard) says that “This section should be used judiciously, i.e., only for errors that are non-obvious or have a large chance of getting raised.” Remember, documentation isn't free. Once it's there, we have to main

[2019-11-27 21:52] janden opened #455 "More robust padding/unpadding"
Currently, the `unpad` function for the 2D backend only ever removes one sample from each end, since the padding size is always chosen so that (after lowpass filtering and downsampling) only one sample remains of the padding. This is very subtle behavior and can lead to bugs in the future (if, for example, we want to extract the wavelet modulus coefficients and unpad those).

[2019-11-28 03:39] janden opened #456 "Parametrizing over backend–device tuples"
In the unit tests for the new frontend code, there are many `if` clauses to single out the skcuda backend (since it only works for GPU tensors). We can avoid this by parametrizing over a `backend_device` tuple, which would take values `('torch', 'cpu')`, `('torch', 'gpu')`, and `('torch_skcuda', 'gpu')`, assuming all these are available. This would greatly simplify many of the tests.

[2019-11-28 03:39] janden opened #457 "Separate testing of CPU tensor errors in torch_skcuda backend"
Right now, these tests are sprinkled in among the rest. Would be more straightforward to have them in separate tests to check them once and for all.

[2019-11-28 03:51] janden opened #458 "That's two times too many..."
In all seriousness, these lines are performing a rather specific task: creating a list of available backends for a particular frontend. This type of enumeration could be useful to users, but also here for testing. I think there should be a function that does this somewhere (maybe as part of the `ScatteringTorchBase` class?) Same with devices (NumPy would only give CPU, skcuda would only give GPU,

[2019-12-03 17:10] janden opened #461 "Batch compression and restore"
It might be nice to have two functions: `x, batch_shape = compress_batch(x, dim)`, where `dim` corresponds to how many dimensions to “keep” (here, two), and `x = restore_batch(x, batch_shape)`. This way, we can use the functions across dimensions (and frontends) by changing the `dim` parameter.

_Originally posted by @janden in https://github.com/kymatio/kymatio/pull/459_

[2019-12-03 17:13] janden opened #462 "Separate padding from casting to complex"
How useful is it to have this keyword argument [pre_pad] though? using the `Pad` class to do anything else than padding seems like a weird design antipattern. If there is really a use case for doing the conversion, consider making a dedicated method. Otherwise, consider removing the functionality.

_Originally posted by @lostanlen in https://github.com/kymatio/kymatio/pull/459_

Padding and moving

[2019-12-03 17:47] janden opened #463 "Remove `expand_dims`/`unsqueeze` in `unpad`"
It causes problems in the tests

https://github.com/kymatio/kymatio/blob/caad82702a2856871341afee33e39667b5a79d99/kymatio/scattering2d/tests/test_numpy_scattering2d.py#L47

 (shape grows a singleton dimension after unpadding) and in the core

https://github.com/kymatio/kymatio/blob/caad82702a2856871341afee33e39667b5a79d99/kymatio/scattering2d/core/scattering2d.py#L54

(unpadded arrays have to be s

[2019-12-03 20:50] MuawizChaudhary commented on #458
Link is saying page can't found on my end.

[2019-12-04 07:44] edouardoyallon commented on #444
@janden it seems this is now hardcoded, isn't it?

[2019-12-04 07:44] edouardoyallon commented on #435
this is implemented in the PR

[2019-12-04 07:44] #435 closed

[2019-12-04 21:35] janden commented on #458
That's an autogenerated GH link. Not sure where it's supposed to lead.

[2019-12-04 21:46] janden commented on #444
The error message? No we can still change it. I've been changing it here and there. Not sure if I got all of the instances of `A` and `B`, but we're getting there. Keeping this open until I've got them all.

[2019-12-06 00:15] lostanlen commented on #261
is this issue still relevant? i see no plan for dimension-agnostic backends in the currents PRs

[2019-12-06 02:14] MuawizChaudhary commented on #261
It seems like we are waiting to release Kymatio v.2 then we'll start work on the common backend.

(Personally, I'd be down to work on the unification of the backends over my winter break, even if v.2 is still in review. )

[2019-12-06 03:54] lostanlen commented on #261
OK! Presumably that unification won't affect the API, so it's totally OK to defer it to a later stage of dev (v0.2.x or v0.3+).
I just wanted to make sure that it was not getting out of sight given all the outstanding work that you've been putting together towards re: v0.2 !!

[2019-12-06 04:03] lostanlen commented on #427
Related: #426. I'm currently working on a PR which will close both of these.

[2019-12-06 07:36] MuawizChaudhary commented on #261
Is this opinion still the same, or might the opinion on having some OOP have changed? I know earlier in a PR (I think #449 ) we were talking about further refactoring the backend in a future update (switching away from the named tuple stuff). Maybe we want to quote that discussion here (I cannot seem to find it)?

[2019-12-06 10:08] edouardoyallon commented on #261
This will be done later, the backend begins being pretty pretty flexible

[2019-12-06 18:29] janden commented on #426
It would really be great if we could purge this from the repo by rewriting `master`, but that may be risky given that people are actually using the software now (although, I assume, mostly through `pip`).

[2019-12-06 21:08] #463 closed

[2019-12-10 22:44] MuawizChaudhary opened #471 "DOC Document core/scattering*d"
For kymatio-v2 we should make sure that the core files are well documented with inline comments on whats going on. This would help users and developers better understand the scattering transform algorithm better.

We should also consider renaming the functions from `scattering*d` to `_scattering*d`, to better reflect the fact that `scattering*d` is not a public method.

[2019-12-10 22:59] MuawizChaudhary opened #472 "pip install kymatio fails on bare environment"
We should add torch to requriements.txt, according to @lostanlen .

[2019-12-10 23:04] lostanlen commented on #472
pytorch was removed by @edouardoyallon in https://github.com/kymatio/kymatio/pull/136
was this deliberate?

[2019-12-10 23:04] lostanlen commented on #472
Here is the commit tag
https://github.com/kymatio/kymatio/commit/ad98af79683b74b84a4575f36852f646e879eeff#diff-b4ef698db8ca845e5845c4618278f29a

[2019-12-10 23:10] edouardoyallon commented on #472
The minimal requirement is numpy: maybe some users won't have torch or tf installed. @janden @eickenberg thoughts?

[2019-12-10 23:11] lostanlen commented on #472
Related: #419

[2019-12-10 23:15] lostanlen commented on #472
Exactly. The problem is that `import kymatio` fails on the current branch (v2) in a bare virtual environment (which does not include pytorch), because `scattering1d.py` imports torch:

See:
https://github.com/kymatio/kymatio/blob/kymatio-v2/kymatio/scattering1d/scattering1d.py#L7

[2019-12-10 23:17] lostanlen commented on #472
Ah, actually, this will be solved when #431 gets merged. It's just that we are in limbo between PRs on v2.

[2019-12-10 23:28] lostanlen commented on #472
Presumably the 2d numpy tests should catch this, though. Any explanation as to why they don't?

[2019-12-11 14:32] lostanlen commented on #472
Renaming to:  `pip install kymatio fails on bare environment`
It would be nice to test that this install works on pure numpy, once the pytorch dependency becomes completely optional.

[2019-12-11 14:46] edouardoyallon commented on #472
you can actually try it on the playground of pytest, that'd be awesome if you could do it!(as we'll finish the 1-3D branches)

[2019-12-11 14:48] lostanlen commented on #472
Cool! So can you confirm that, in Kymatio v0.2, it will be possible to run forward scattering on CPU with neither PyTorch nor TensorFlow installed?

[2019-12-11 14:49] edouardoyallon commented on #472
yes, this is the goal!!

[2019-12-11 15:09] lostanlen commented on #472
Nice!!
The way i would see it would be to modify the `travis_install.sh` so that it accepts more combinations of installation settings, via env variables:
* `IS_CONDA`: true/false
* `HAS_TENSORFLOW`: true/false
* `HAS_PYTORCH`: true/false

So eight in total. Times the number of Python versions (in our case, three).

Does that make sense?

If so, i can prepare a PR in this direction. Of course, we'

[2019-12-11 15:10] edouardoyallon commented on #472
@janden @eickenberg

[2019-12-11 16:32] edouardoyallon opened #473 "Advertising kymatio-v2 in the current main repo"
Hi,

Would it make sens to propose people interested in the software to test our "v2"? That could be written down clearly in the README.md

[2019-12-11 16:35] lostanlen commented on #473
Seems like what you describe is exactly the role of an alpha version

[2019-12-11 16:37] edouardoyallon commented on #473
go ahead!

[2019-12-11 18:06] janden commented on #472
So `HAS_TENSORFLOW`, etc. will decide if it installs TF or not? I think that's a good idea. As I said in the Slack, I envision four testing environments:

- NP only
- NP+Torch
- NP+Torch+skcuda/cupy
- NP+TF

I don't think there's a need to test with both Torch and TF simultaneously.

Other than changing the testing configuration, we also need to make sure we're not importing Torch anywhere we shou

[2019-12-11 18:08] edouardoyallon commented on #453
So at the end, this means we should not consider it.

[2019-12-11 18:08] #453 closed

[2019-12-11 18:08] edouardoyallon commented on #472
Please see: #419

[2019-12-11 23:58] lostanlen commented on #472
@janden yes, the overarching goal is to only "pay for what we use", i.e., depend on a minimal number of libraries. But the more urgent goal is to have a pip distribution which runs out of the box. Currently, that is not the case on `kymatio-v2` branch.
I would recommend that we keep this issue open for the question of having a self-contained  `setup.py`, and turning to #419 for the more ambitious

[2019-12-12 20:15] janden commented on #472
It's a couple of lines of code. I don't like the idea of having a formal list of requirements (either in `requirements.txt` or `setup.py`), but then having the most basic tests fail unless additional dependencies are satisfied.

[2019-12-12 20:22] lostanlen commented on #472
I don't understand what you just wrote.

[2019-12-12 20:24] janden commented on #472
Having a pip distribution which runs out of the box means having tests that run out of the box, as well. They're not separate issues.

[2019-12-13 00:13] lostanlen commented on #472
Oh, i see what you mean. I think you and me agree here.

Our `travis_install.sh` is quite complex, as it involves installing pytorch manually before calling `python setup.py develop` : https://github.com/kymatio/kymatio/blob/master/tools/travis_install.sh

Whereas our `README.md` (on the v2 branch) only mentions `pip install kymatio`, glossing our the fact that the backend library needs to be inst

[2019-12-15 07:14] MuawizChaudhary opened #476 "MAINT Output size calculation not used."
https://github.com/kymatio/kymatio/blob/5bf71fd7aab1e60bb12cfaa4a2b42d722a91e893/kymatio/scattering2d/core/scattering2d.py#L17

Since we do not preallocate an array, we do not need to calculate the output sizes. I suggest we keep the calculation of the order 0, 1, 2 sizes, but remove `output_sizes`.

[2020-01-05 21:17] emmanuelle opened #478 "Sphinx gallery does not create thumbnails for all examples"
See for example https://www.kymat.io/gallery_2d/regularized_inverse_scattering_MNIST.html#sphx-glr-gallery-2d-regularized-inverse-scattering-mnist-py and various other examples: the figure is neither displayed on the example page, nor in the gallery of thumbnails. I believe this is because of the
[code]
structure. Putting all the instructions inside the `main()` function at the top level of the fi

[2020-01-05 21:24] edouardoyallon commented on #478
Hi, thanks for opening the issue and reporting it. Could you also let us
know which command you used with sphinx as well as the corresponding
version of sphinx and python that you use? Thanks.

On Sun 5 Jan 2020 at 22:18, Emmanuelle Gouillart <notifications@github.com>
wrote:

[2020-01-05 21:37] eickenberg commented on #478
Hi Emmanuelle,

thanks for pointing that out! Our examples should not have that structure
(a main function that encapsulates stuff and gets called from the protected
region of the script). So this is an oversight that should change in any
case. If it also fixes our problem of figures not displaying in
sphinx-gallery, all the better!

If you have the time to do a PR, that would be awesome. Otherwis

[2020-01-06 00:05] edouardoyallon commented on #478
Hi, alright, I thought the issue was that some figures were unintentionally
not displayed. My understanding here is that a/ only files prefixed by «
plot_ » should be run (to avoid running long scripts..) which was an
arbitrary choice b/ the website hasn’t been updated for a while... and the
files do not match with github...
Feel free to PR in the branch v2... but the latter might not be free of
b

[2020-01-06 00:12] eickenberg commented on #478
Indeed, there were some runtime considerations when naming the scripts
plot_ or not in order to make reasonable automatic deployment of docs
possible (which we have on our Todo list)

On Sun, Jan 5, 2020, 4:05 PM Edouard Oyallon <notifications@github.com>
wrote:

[2020-01-16 18:49] anakin-datawalker opened #479 "Multi-GPU scattering2d [torch]"
Hi everyone,

Close #640

In order for scattering2d torch implementation to fully leverage the fact that it inherits nn.Module and thus be parallelizable with nn.DataParallel, I believe the following lines shall be modified in kymatio-v2 branch:

https://github.com/kymatio/kymatio/blob/5bf71fd7aab1e60bb12cfaa4a2b42d722a91e893/kymatio/scattering2d/frontend/torch_frontend.py#L35

https://github.com/

[2020-01-16 19:00] anakin-datawalker opened #480 "ModuleNotFoundErrors"
- [x] 1D
- [x] 2D
- [x] 3D

Hi everyone,

In the current kymatio-v2 branch, there are no __init__.py files in the kymatio.frontend, kymatio.scattering2d.backend and kymatio.scattering2d.core packages. It leads on my side to ModuleNotFoundErrors when trying to run for instance examples/2d/cifar.py after installing kymatio by python setup.py install (or similarly pip install . in the kymatio head fo

[2020-01-16 19:08] anakin-datawalker opened #481 "SubsampleFourier torch docstrings"
Hi everyone,

There seems to be a small mistake in the backend/torch_backend.py and backend/torch_skcuda_backend.py SubsampleFourier function docstrings.

https://github.com/kymatio/kymatio/blob/5bf71fd7aab1e60bb12cfaa4a2b42d722a91e893/kymatio/scattering2d/backend/torch_backend.py#L120-L128

The subsampling is by k, not 2**k (is correct in numpy_backend and tensorflow_backend)

[2020-01-16 19:26] eickenberg commented on #481
Ah, good catch. Then it must be called with a power of 2 already.

If you have time, could you make a PR to fix the docstring?

Thanks!

On Thu, Jan 16, 2020 at 11:08 AM anakin-datawalker <notifications@github.com>
wrote:

[2020-01-16 20:33] anakin-datawalker commented on #481
Sure that should be done.

Best

[2020-01-17 00:59] lostanlen commented on #479
@anakin-datawalker thank you for your insights. Could you please make a PR?

Is this something we can test?

[2020-01-17 21:33] anakin-datawalker commented on #479
I made a PR with the mentioned changes for multi GPU. I tested it only with cifar.py so far.

[2020-01-18 15:21] #481 closed

[2020-01-18 15:22] edouardoyallon commented on #480
It seems I can't reproduce the issue, can someone comment about that?

[2020-01-18 15:23] edouardoyallon commented on #479
Is it possible to have a minimum sample of code to obtain those errors?

[2020-01-18 15:23] edouardoyallon commented on #478
I guess we can close this issue?

[2020-01-19 18:35] anakin-datawalker commented on #479
Sure just the following will make the TypeError: Input and filter must be on the same GPU I mentioned in my first message appear if you try it with 2 GPUs (we need a multiple of 2 in batch size for x in order to scatter it on the 2 GPUs) whereas it should work with my commit
[code]

Best

[2020-01-23 15:44] edouardoyallon opened #484 "Removing locals and globals"
We need to remove the use of those because it does hide a lot of python mechanism

[2020-01-23 16:52] #473 closed

[2020-01-23 17:20] janden commented on #261
From @MuawizChaudhary, on `fft1d_c2c` etc. in 1D:
[code]

[2020-01-23 19:35] edouardoyallon commented on #386
I forgot to close it, it's done.

[2020-01-23 19:35] #386 closed

[2020-01-23 19:37] #426 closed

[2020-01-23 20:00] janden opened #488 "Remove redundant loading of frontends"
Do we wanna define a subclass `ScatteringBase` in the main `kymatio` folder, from which `Scattering*D` subclass inherits from, and all we do here is init the `ScatteringBase`?

@lostanlen @janden your thoughts are also appreciated.

_Originally posted by @MuawizChaudhary in https://github.com/kymatio/kymatio/diffs_

Right now, the dynamic loading of frontends (i.e., the `self.__class__` trick) is

[2020-01-23 20:01] janden opened #489 "Template the documentation across frontends"
Yes. Let's fix. In the future, we'd probably like to template the docs like they do here:

https://github.com/lebedov/scikit-cuda/blob/4781f2e2aa317c3218f9ce1e226a09d7be81af59/skcuda/cublas.py#L411

_Originally posted by @janden in https://github.com/kymatio/kymatio/diffs_

[2020-01-23 20:08] janden opened #490 "Add meta information to 2D and 3D"
Right now, we have it in 1D by calling `Scattering1D.meta`. It would be good to have something similar in 2D and 3D.

[2020-01-23 20:33] MuawizChaudhary opened #492 "1D CDGMM"
Currently we broadcast the last dimension of each filter, and do a elementwise multiplication. This may not work for complex filters.

https://github.com/kymatio/kymatio/pull/477/files#r358764794

[2020-01-23 20:41] edouardoyallon opened #493 "Depecreation warning are not launched"

[2020-01-23 20:48] janden opened #494 "Faster FFTs for NumPy frontend"
Right now, we're using the NumPy FFT, which is slow. It would be better to use SciPy, and (if available), PyFFTW (perhaps as another backend, to make it optional).

[2020-01-23 21:11] edouardoyallon commented on #480
ok found it, thanks!!

[2020-01-23 21:20] edouardoyallon commented on #489
That's a great suggestion and an impressive mechanism!

[2020-01-23 21:31] janden opened #497 "axis argument torch.stack is undocumented"
We should use `dim` instead, per https://pytorch.org/docs/stable/torch.html#torch.stack.

[2020-01-24 03:40] edouardoyallon opened #501 "ENH more 1D tests for np/tf frontend/backend"

[2020-01-24 03:42] edouardoyallon opened #502 "self.vectorize should be done in Scattering1DBase"

[2020-01-24 03:44] #493 closed

[2020-01-24 03:46] edouardoyallon commented on #497
I think it's removed everywhere now via the PR there

[2020-01-24 03:48] edouardoyallon commented on #490
well, should I model something based on scattering1D.meta or should we update it as well?

[2020-01-24 03:49] edouardoyallon commented on #484
It has been already addressed.

[2020-01-24 03:49] #484 closed

[2020-01-24 03:51] edouardoyallon commented on #476
@janden u agree with this suggestion?

[2020-01-24 03:52] edouardoyallon commented on #472
where are we?

[2020-01-24 03:52] edouardoyallon commented on #452
i handle that tomorrow

[2020-01-24 04:59] #416 closed

[2020-01-24 05:02] #408 closed

[2020-01-24 05:02] edouardoyallon commented on #111
hi @eugenium

[2020-01-24 05:07] edouardoyallon commented on #457
maybe it could be good to detect if the tensor is a cuda tensor and if not, to run the standard torch backend, wdyt?

[2020-01-24 05:07] edouardoyallon commented on #492
I'm ok with it until we add some complex filters

[2020-01-24 05:07] #492 closed

[2020-01-24 05:49] edouardoyallon commented on #502
@janden actually, it can't because of tf which has some specific instructions..(it's due to python 35)

can i close after we discuss?

[2020-01-24 11:38] edouardoyallon commented on #471
@lostanlen can you do it?

[2020-01-24 11:52] #419 closed

[2020-01-24 16:02] lostanlen commented on #471
Yes

[2020-01-24 19:49] lostanlen commented on #476
this business of computing output sizes is going to be needed in the Keras layer
ideally we should do it without computing any coefficient

[2020-01-24 20:45] janden commented on #501
Also non-eager mode in TF.

[2020-01-24 21:46] lostanlen opened #513 "scattering1d/filter_bank module has too many functions"
13 functions, most of them only called once or twice. Surely we can simplify that.

[2020-01-24 22:12] lostanlen commented on #513
This is a continuation of #227

[2020-01-25 13:20] lostanlen commented on #454
We need to make sure that the 3d outputs does not elide trailing singleton dimensions

[2020-01-25 13:26] lostanlen commented on #488
Yes. This was discussed at the whiteboard on Thursday with @eickenberg et al.
Related: #489  ?

[2020-01-25 13:36] lostanlen commented on #494
closed by #509
many thanks to @MuawizChaudhary

[2020-01-25 13:36] #494 closed

[2020-01-25 13:39] lostanlen commented on #472
let's discuss this issue today in person

[2020-01-25 17:56] edouardoyallon commented on #479
I've found the issue, what's actually happening is that now, the nn.module is replicating as submodules as replicas with their own buffers. In other words, it shouldn't be self.buffer but something like self.replicas.buffer ..

https://github.com/pytorch/pytorch/blob/6ad9e5c70d1f496b9eaca191ec18e26c106c6436/torch/nn/modules/module.py#L1160
https://github.com/pytorch/pytorch/blob/master/torch/nn/pa

[2020-01-25 20:36] janden opened #518 "Tests silently fail if backends do not import cleanly"
Specifically, the line https://github.com/kymatio/kymatio/blob/562e07f55c584522e286b231945f6a63569b490d/kymatio/scattering1d/tests/test_torch_scattering1d.py#L19 (and others like it), have the following consequence: If the `torch_skcuda_backend` module fails to import, the tests succeeds. Now the reason may be the user not having `cupy` installed (which is ok), but it may also be due to a broken b

[2020-01-25 22:27] janden opened #519 "3D 'local' method is not used"
It's not in any publication, etc., so it's not clear why we should keep it.

[2020-01-25 23:16] edouardoyallon commented on #479
and... the fft isn't compatible with dataparallel for now :(

[2020-01-25 23:56] lostanlen commented on #479
@edouardoyallon thank you so much @edouardoyallon for the intense sleuthing! 🕵

[2020-01-26 02:28] edouardoyallon commented on #497
Now it's good thanks to @eugenium

[2020-01-26 02:31] eugenium commented on #497
I only edited it in the sklearn pull shouldnt we wait till its in 0.2.x

[2020-01-26 02:32] edouardoyallon commented on #497
can you do a separate PR?

[2020-01-26 02:34] lostanlen opened #521 "scope variable is unused in tensorflow_frontend"
Detected by pyflakes:

[code]

https://github.com/kymatio/kymatio/blob/0.2.X/kymatio/scattering2d/frontend/tensorflow_frontend.py#L15

[2020-01-26 02:38] janden opened #522 "3D is not batch shape agnostic"
Fix this and test for it.

[2020-01-26 02:54] #260 closed

[2020-01-26 02:55] #259 closed

[2020-01-26 02:56] edouardoyallon commented on #263
I'm ok with it now.

[2020-01-26 02:56] #263 closed

[2020-01-26 02:58] #488 closed

[2020-01-26 16:50] janden opened #529 "Check for contiguous instead of casting in frontend"
Is it possible to rather add a test, than `contiguous`. There will be a common test shared across backends in the PR `simplifications`.

_Originally posted by @edouardoyallon in https://github.com/kymatio/kymatio/pull/527_

This goes for other dimensionalities as well.

[2020-01-26 17:52] janden opened #531 "Don't use backend in filter bank creation"
To make those modules more portable.

[2020-01-26 18:50] #522 closed

[2020-01-26 23:18] MuawizChaudhary commented on #450
PR #449 fixed this issue.

[2020-01-26 23:18] #450 closed

[2020-01-26 23:24] MuawizChaudhary commented on #305
Maybe one of you can explain the basic concept, and I can try to implement this one of these days?

[2020-01-27 01:58] MuawizChaudhary commented on #337
@janden @edouardoyallon Is this still a problem?

[2020-01-27 01:59] MuawizChaudhary commented on #309
Is this still a problem? @janden @eickenberg

[2020-01-27 01:59] MuawizChaudhary commented on #309
Is this still a problem? @janden @eickenberg

[2020-01-27 02:03] MuawizChaudhary commented on #336
Do we want to simplify the code instead of testing if `fourier = false` works? Seems like there is not going to be anykind of use case for this. @janden

[2020-01-27 02:05] janden commented on #531
Closed in #536.

[2020-01-27 02:05] #531 closed

[2020-01-27 02:06] #519 closed

[2020-01-27 02:06] janden commented on #519
Fixed.

[2020-01-27 02:06] janden commented on #518
Fixed in #533.

[2020-01-27 02:07] MuawizChaudhary commented on #418
We will close this when #534 implements batch size agnosticism.

[2020-01-27 02:09] MuawizChaudhary commented on #411
@lostanlen any update?

[2020-01-27 02:10] MuawizChaudhary commented on #445
Does this dictionary stuff we discussed allow this?

[2020-01-27 02:11] MuawizChaudhary commented on #444
@edouardoyallon Do your simplifications take care of this?

[2020-01-27 02:11] MuawizChaudhary commented on #439
@lostanlen Do your benchmarks take care of this automatically?

[2020-01-27 02:12] MuawizChaudhary commented on #429
As discussed, we dropped the other methods for averaging the scattering coefficients.

[2020-01-27 02:12] #429 closed

[2020-01-27 02:13] MuawizChaudhary commented on #427
@lostanlen How is progress of this PR?

[2020-01-27 02:14] MuawizChaudhary commented on #423
Our work over the past few months has resolved this issue. :)

[2020-01-27 02:14] #423 closed

[2020-01-27 02:17] MuawizChaudhary commented on #454
@lostanlen That is done. Is the rest of this issue solved?

[2020-01-27 02:24] MuawizChaudhary commented on #471
@lostanlen progress report?

[2020-01-27 02:45] lostanlen commented on #471
@MuawizChaudhary i haven't started documentation. one thing that is relatively easy to do and would be nice to have would be to thoroughly audit which functions are public vs which are private (leading underscore).

[2020-01-27 02:46] #478 closed

[2020-01-27 02:48] #480 closed

[2020-01-27 02:49] MuawizChaudhary commented on #502
Reminder that we should discuss if we haven't.

[2020-01-27 06:23] edouardoyallon commented on #502
that's true, i'd like to take back this claim

[2020-01-27 06:25] edouardoyallon commented on #521
Well, the scope will be potentially use by tensorflow(or i should say tensorboard) or i didn't catch what it's doing.

https://www.tensorflow.org/api_docs/python/tf/name_scope

maybe should one check with tf that it does what it should(eg prefixing modules with the name of the frontend) and if it doesn't, correcting it?

[2020-01-27 06:53] #518 closed

[2020-01-27 07:17] edouardoyallon commented on #497
I think this is down, I've done grep 'torch.stack' ./*.py and couldn't find anything..

[2020-01-27 07:18] edouardoyallon commented on #476
Vincent statement is pretty true... As it's few lines, I'm ok to give it

[2020-01-27 07:21] edouardoyallon commented on #472
It seems pretty clear to our discussion the last days that: an user willing to develop for the software should install the whole set of packages we have, yet the option to install `torch` or other is optional, yet shouldn't fail.

Am i correct?

[2020-01-27 07:23] edouardoyallon commented on #444
yes, cf #538

[2020-01-27 13:25] lostanlen commented on #472
@edouardoyallon yes you are correct, but as of today (branch 0.2.X), it seems impossible to use kymatio without torch.

Installation works and import also works but the `Scattering2d` constructor raises an error

Full error log attached:
[install_error.txt](https://github.com/kymatio/kymatio/files/4117285/install_error.txt)

[2020-01-27 13:34] edouardoyallon commented on #472
Right, I think there is an abrupt message

That we could turn into a `try import torch finalize import numpy`.. but I(m fine with it. Thoughts?

[2020-01-27 19:11] MuawizChaudhary opened #542 "Error in regularized inverse scattering mnist torch example"
In the planned update, one of the examples, `regularized_inverse_scattering_MNIST_torch.py`, errors out. The error I get is

This happens on line 94.

[2020-01-27 19:32] MuawizChaudhary commented on #529
We shouldn't need to check if numpy arrays are contiguous, me thinks. There seems to be multiple definitions for contiguity in NumPy.

[2020-01-28 02:26] janden opened #548 "Speed up test suite"
Currently takes 8–10 minutes in total, which is very long.

[2020-01-28 02:45] janden commented on #548
Some of the worst offenders (according `pytest --durations=0`):
[code]

[2020-01-28 03:52] eugenium commented on #542
Change line https://github.com/kymatio/kymatio/blob/0.2.X/examples/2d/regularized_inverse_scattering_MNIST_torch.py#L86 to  transforms.Normalize((0.5,), (0.5,))

[2020-01-28 17:42] lostanlen commented on #472
@edouard ah, i see what you mean. so torch is still required as of 0.2.X ? in this case, it needs to appear in requirements.
i'm unclear about what our versioning/packaging policy is here.

[2020-01-28 19:36] lostanlen commented on #445
@MuawizChaudhary yes, this is the long-term goal of the dictionary output

[2020-02-04 15:07] janden opened #555 "Keras frontend in entry point"
Well, sure.

_Originally posted by @edouardoyallon in https://github.com/kymatio/kymatio/pull/553#issuecomment-581949287_

[2020-02-04 16:09] janden opened #558 "Make input checks in Torch and NP more specific"
Also, why not just make sure it's a `torch.Tensor`? Just checking for `None` is quite restricted.

_Originally posted by @janden in https://github.com/kymatio/kymatio/pull/538_

[2020-02-05 12:56] edouardoyallon commented on #111
Actually the narrive is still not really great..

[2020-02-05 12:57] edouardoyallon commented on #427
This is nox fiwed!

[2020-02-05 12:57] #427 closed

[2020-02-07 09:56] edouardoyallon commented on #418
Since this has been merged, we are done now.

[2020-02-07 09:56] #418 closed

[2020-02-07 10:24] edouardoyallon commented on #261
I'd like to address the subsampling in a different issue,

[2020-02-07 10:24] #261 closed

[2020-02-07 10:25] edouardoyallon commented on #421
Well.. so after re-testing them, they all work!

[2020-02-07 10:25] #421 closed

[2020-02-07 10:27] edouardoyallon commented on #268
So I think given the dict option, this issue can be considered as solved!

[2020-02-07 10:27] #268 closed

[2020-02-07 10:28] #444 closed

[2020-02-07 10:39] edouardoyallon commented on #378
Thanks a lot for reporting this. This is a good catch, but now, we removed the meta which is directly in the dictionary of features, cf: https://github.com/kymatio/kymatio/blob/0.2.X/kymatio/scattering2d/core/scattering2d.py#L48-L50 can we consider this issue is address? @janden

[2020-02-07 10:40] #502 closed

[2020-02-07 10:41] edouardoyallon commented on #490
only 3D is missing

[2020-02-07 18:15] MuawizChaudhary commented on #558
@edouardoyallon Do you think this is a good idea?

[2020-02-07 19:27] janden commented on #378
Unfortunately, no. We still don't provide any information about the lowpass filter φ. It could be an additional piece of data in the dict output, I agree, but we don't do that currently.

[2020-02-07 19:29] janden commented on #490
We can do it, but do we want it?

[2020-02-10 15:06] janden opened #560 "TF/Torch backends for NP frontends"
In cases of reasonable sized natural images (e.g. 224x224x3) and larger J it would still give a huge speed up, 1 or 2 orders of magnitude even with data transfer.

_Originally posted by @eugenium in https://github.com/kymatio/kymatio/pull/535_

Given this potential speedups, I suggest we allow TF and Torch backends to be passed to the NP frontend. This shoulnd't require too much work, just a way t

[2020-02-12 20:48] #411 closed

[2020-02-12 21:07] edouardoyallon commented on #454
@janden can be closed now, isn't it?

[2020-02-12 21:07] edouardoyallon commented on #456
... this is now done, isn't it? @janden

[2020-02-12 21:09] edouardoyallon commented on #461
isn't it... done?

[2020-02-12 21:09] edouardoyallon commented on #497
@janden we close, right?

[2020-02-18 16:47] janden opened #561 "More descriptive error message for missing frontend"
The following code gives a nasty error message that should be improved upon (especially since it's very likely to be triggered):
[code]

[2020-02-18 20:49] edouardoyallon commented on #548
This should be closed (I don't know why github doesn't parse anymore `Closes #BLEH`

[2020-02-18 20:49] #548 closed

[2020-02-18 20:50] edouardoyallon commented on #542
this needs to be check before the release!

[2020-02-18 20:51] edouardoyallon commented on #521
tensorboard displays it, can I close this issue?

[2020-02-18 20:51] edouardoyallon commented on #490
What do we do with this one?(close?)

[2020-02-18 23:22] janden opened #565 "Document new out_type argument for 1D and 2D"
This was added, but has not yet been documented.

[2020-02-19 07:03] #561 closed

[2020-02-19 07:05] edouardoyallon opened #567 "DOC flatiron logo"
It doesn't display well in README.md

[2020-02-19 07:07] edouardoyallon opened #568 "DOC keras + sk transformer in README.md"
We forgot to write about them...

[2020-02-19 07:12] edouardoyallon commented on #555
Thishas been done in #563

[2020-02-19 07:12] #555 closed

[2020-02-19 07:13] edouardoyallon commented on #497
I confirm this is removed.

[2020-02-19 07:13] #497 closed

[2020-02-19 07:14] edouardoyallon commented on #489
This has been very nicely implemented in #546

[2020-02-19 07:14] #489 closed

[2020-02-19 07:18] edouardoyallon opened #569 "DOC circle.ci is failing"
[code]

https://circleci.com/gh/kymatio/kymatio/147#tests/containers/0

[2020-02-19 07:24] edouardoyallon commented on #376
With the

[2020-02-19 07:24] #376 closed

[2020-02-19 07:24] edouardoyallon commented on #277
This was merged and added!

[2020-02-19 07:24] #277 closed

[2020-02-19 07:25] edouardoyallon commented on #309
This was merged and fixed!

[2020-02-19 07:25] #309 closed

[2020-02-19 10:35] edouardoyallon commented on #567
This link: https://itensor.org/flatiron_logo.png shoumd make the job

[2020-02-19 10:39] edouardoyallon commented on #542
Still not fixed

[2020-02-19 17:24] edouardoyallon commented on #439
@janden what do we decide about this one?(keep it this way?) what should we do about the ASV branch?

[2020-02-19 17:30] edouardoyallon commented on #472
@janden What should we do about this one? A decision must be taken.

[2020-02-19 17:33] edouardoyallon commented on #569
[code]

Still there.

[2020-02-19 17:35] edouardoyallon commented on #569
[code]

one could fix that too on the fly

[2020-02-20 09:26] edouardoyallon commented on #569
I think this could be linked to: https://github.com/kymatio/kymatio/blob/master/kymatio/scattering2d/frontend/numpy_frontend.py#L2 -- that we probably do not desire. Any ideas?

[2020-02-21 22:27] #111 closed

[2020-02-22 13:12] #568 closed

[2020-02-22 13:15] #542 closed

[2020-02-25 19:06] janden opened #583 "Include Keras, sklearn in docs and structure"
Right now, it's all one big text. We should split up different subsections for different frontends. At the top, we should have a quick text summarizing the frontend framework and describing how to import them dynamically (using `kymatio.Scattering*D` and specifying `frontend` when creating).

[2020-02-25 23:34] #565 closed

[2020-02-25 23:35] edouardoyallon commented on #583
can you point me to the file you want to modify? thanks

[2020-02-26 01:50] janden commented on #583
This one:

https://github.com/kymatio/kymatio/blob/master/doc/source/codereference.rst

So basically:

- Intro about frontends, example how to instantiate one “statically”
[code]
or dynamically
[code]
- Doc for torch
- Doc for NP
- Doc for TF
- Doc for Keras
- Doc for sklearn

With all of these being a separate section. Does that makes sense?

[2020-02-26 03:50] janden commented on #439
So it should just be a matter of running ASV on a few standard machines and updating the timings in the docs manually. That branch (you're talking about [this one](https://github.com/eickenberg/kymatio/tree/add_asv_to_circle_ci), right?) will eventually automate pushing the latest ASV results to a separate website, but we're pretty far off right now.

[2020-02-26 03:59] janden commented on #472
So I think this is now resolved. From what I understand, torch should no longer be a requirement. I just tested this on a bare environment (i.e., just running `pip install -r requirements.txt`) and it seems to work:
[code]

Of course, doing
[code]
fails, since torch is still the default frontend. However,
[code]
works as expected.

[2020-02-26 19:41] edouardoyallon commented on #439
ok so this will be the last issue to close.

[2020-02-26 19:41] edouardoyallon commented on #472
Awesome.

[2020-02-26 19:41] #472 closed

[2020-02-26 20:43] lostanlen commented on #472
Amazing !!!!

[2020-02-28 16:25] edouardoyallon commented on #479
it seems that it was fixed but I still get a bug.. I'll leave it to the expert.

[2020-02-29 15:23] edouardoyallon commented on #583
yes. @eickenberg ?

[2020-03-03 15:55] eickenberg commented on #569
This should be fixed now. Waiting for circleci to confirm

[2020-03-03 15:58] eickenberg commented on #569
tic toc https://circleci.com/gh/kymatio/kymatio/184 almost there

[2020-03-03 16:00] eickenberg commented on #569
![image](https://user-images.githubusercontent.com/1306635/75793996-264a9900-5d3e-11ea-9e9a-a38bad76374a.png)

[2020-03-03 16:00] eickenberg commented on #569
![image](https://user-images.githubusercontent.com/1306635/75794064-424e3a80-5d3e-11ea-9284-10d780f9a23d.png)

[2020-03-03 16:01] #569 closed

[2020-03-03 16:41] janden commented on #439
Sorry, but this needs to be in 0.2 since the tests have changed somewhat.

[2020-03-03 16:52] eickenberg opened #584 "TST make it possible to exclude tests for nonexistent backends"
Yeah ... any ideas? We can't ship this as super backend agnostic and then require all the backends to be present for testing